<div class="content-wrapper">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row">
        <div class="col-12" id="contenedorPB">
            <iframe title="Dashboard_Prueba" width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiNDg2MDY0ZWEtNWZlNi00NTRjLTk1NGQtYjhiOTljMTMzOWRjIiwidCI6IjhkMTRiNTA5LTFmM2QtNDViYS04ZWIzLTA1YTUyZmFjMTc2ZCJ9&pageName=ReportSection2eb40be95140c450c0b8" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
      <block-ui></block-ui>
    </div>
  </div>