::ng-deep .my-class .modal-dialog {
  min-width: 70%;
  //width: 60%;
}

.detail-th-color {
  background-color: rgba(252, 120, 120, 0.12) !important;
}

.detail-th-color2 {
  background-color: rgba(120, 162, 252, 0.12) !important;
}

.min-width-table {
  min-width: 2100px;
}

.min-width-table2 {
  min-width: 2700px;
}
