<div class="content-wrapper">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="d-flex flex-wrap mb-0">
              <div class="p-1">
                <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                  <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                  <span class="d-none d-sm-inline-block">Refrescar</span>
                </button>
              </div>
              <div class="pt-1 pb-1 pr-1">
                <button type="submit" rippleEffect class="btn btn-primary" (click)="onNuevo(modalPERFIL)">
                  <i class="mr-0 mr-sm-1" data-feather="plus"></i>
                  <span class="d-none d-sm-inline-block">Nuevo</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <label class="d-flex align-items-center"
                >Mostrar
                  <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                  (change)="onRefrescar()"  >
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  filas</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end mb-1">
                <label class="d-flex align-items-center"
                >Buscar<input
                  type="search"
                  placeholder="Buscar"
                  class="form-control ml-25"
                  (change)="onRefrescar()"
                  [(ngModel)]="search" [ngModelOptions]="{ standalone: true }"
                /></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-hover min-width-table">
                  <thead class="centerall-header">
                  <tr>
                    <th rowspan="2">Acción</th>
                    <th rowspan="2">Perfil</th>
                    <th colspan="4" class="audit-columns">Auditoría</th>
                  </tr>
                  <tr>
                    <th class="audit-columns">Creado por</th>
                    <th class="audit-columns">Fecha creación</th>
                    <th class="audit-columns">Modificado por</th>
                    <th class="audit-columns">Fecha modificación</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-template let-row ngFor [ngForOf]="perfil">
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <a href="javascript:void(0)" title="Editar" (click)="onEditar(modalPERFIL, row)"
                             class="btn btn-raised btn-outline-success btn-sm">
                            <i class="text-success cursor-pointer" data-feather="edit"></i>
                          </a>
                          &nbsp;
                          <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(row)"
                             class="btn btn-raised btn-outline-danger btn-sm">
                            <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                          </a>
                        </div>
                      </td>
                      <td>{{row.perfil}}</td>
                      <td>{{row.usuarioCreacion}}</td>
                      <td>{{row.fechaCreacion}}</td>
                      <td>{{row.usuarioModificacion}}</td>
                      <td>{{row.fechaModificacion}}</td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                              (pageChange)="onListarPerfil()" [pageSize]="pageSize"></ngb-pagination>
            </div>
          </div>

          <ng-template #modalPERFIL let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Gestión de Perfil</h4>
              <button aria-label="Close" class="close" type="button" (click)="onCancelar()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" ngbAutofocus tabindex="0" >
              <form [formGroup]="perfilForm">
                <div class="row spaced">
                  <div class="col-12">
                    <div class="divider divider-info">
                      <div class="divider-text">Información General</div>
                    </div>
                  </div>
                  <div class="col-md-12 col-12" hidden>
                    <div class="form-group">
                      <label>Id</label>
                      <input class="form-control" formControlName="idPerfil" type="text"/>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label>Perfil</label>
                      <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.perfil.errors }"
                             class="form-control" formControlName="perfil" type="text"/>
                      <div *ngIf="ReactiveIUForm.perfil.errors" class="invalid-feedback">
                        <div *ngIf="ReactiveIUForm.perfil.errors.required">* Campo obligatorio</div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row spaced">
                <div class="col-md-12 col-12">
                  <div class="form-group">

                  <div class="col-12">
                    <div class="divider divider-warning">
                      <div class="divider-text">Permisos</div>
                    </div>
                  </div>
                  <app-lista-permiso #listaPermiso [urlMenuList]="menuList"></app-lista-permiso>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="display: block !important;">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div style="float: right">
                    <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar(listaPermiso)">
                      <span [data-feather]="'save'"></span> Guardar
                    </button>
                    &nbsp;
                    <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()">
                      <span [data-feather]="'x-circle'"></span> Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <block-ui></block-ui>
    </div>
  </div>

