<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <core-card #coreCard [actions]="['collapse', 'reload']" (events)="onLimpiarFiltro($event)">
      <h4 class="card-title">Buscar por <small><i>(click aquí para expandir)</i></small></h4>
      <div class="card-body">
        <form [formGroup]="filtroForm">
          <div class="row">
            <div class="col-12">
              <div class="divider divider-success">
                <div class="divider-text">Liquidación - Cabecera</div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>N° Liquidación</label>
                <input class="form-control" formControlName="codigoLiquidacion" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>N° Solicitud</label>
                <input class="form-control" formControlName="codigoSolicitud" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>Cliente (RUC o Razón Social)</label>
                <input class="form-control" formControlName="cliente" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>Pag. / Prov. (RUC o Razón Social)</label>
                <input class="form-control" formControlName="pagadorProveedor" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Moneda</label>
                <ng-select appendTo="body" [clearable]="false" [items]="currency" bindLabel="descripcion"
                           placeholder="Moneda" bindValue="valor" formControlName="moneda"
                           (ngModelChange)="onListarDesembolso()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tipo Operación</label>
                <ng-select appendTo="body" [clearable]="false" [items]="operationType" bindLabel="descripcion"
                           placeholder="Tipo Operación" bindValue="idColumna" formControlName="tipoOperacion"
                           (ngModelChange)="onListarDesembolso()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Estado</label>
                <ng-select appendTo="body" [clearable]="false" [items]="state" bindLabel="descripcion"
                           placeholder="Estado" bindValue="idColumna" formControlName="estado"
                           (ngModelChange)="onListarDesembolso()">
                </ng-select>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-warning">
                <div class="divider-text">Liquidación - Detalle</div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Pag. / Prov. (RUC o Razón Social)</label>
                <input class="form-control" formControlName="pagadorProveedorDet" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>N° Documento</label>
                <input class="form-control" formControlName="nroDocumento" type="text"
                       (ngModelChange)="onListarDesembolso()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Fecha Operación</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="fechaOperacion" container="body"
                         ngbDatepicker #basicDP="ngbDatepicker" (ngModelChange)="onListarDesembolso()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-x"
                            (click)="onCambioFechaOperacion()"
                            type="button" rippleEffect></button>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDP.toggle()"
                            type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </core-card>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onListarDesembolso()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1 pr-1">
              <button type="submit" rippleEffect class="btn btn-success" (click)="onGenerarArchivo()">
                <i class="mr-0 mr-sm-1" data-feather="layers"></i>
                <span class="d-none d-sm-inline-block">Generar Archivo(s)</span>
              </button>
            </div>
            <div class="pt-1 pb-1 pr-1">
              <button type="submit" rippleEffect class="btn btn-primary" (click)="onAprobar(5)">
                <i class="mr-0 mr-sm-1" data-feather="check"></i>
                <span class="d-none d-sm-inline-block">Confirmar</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button type="submit" rippleEffect class="btn btn-warning"
                      (click)="onEnviar(1, null)">
                <i class="mr-0 mr-sm-1" data-feather="mail"></i>
                <span class="d-none d-sm-inline-block">Enviar Correo(s)</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onListarDesembolso()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onListarDesembolso()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead class="centerall-header">
                <tr>
                  <th rowspan="2">
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Ocultar / Mostrar"
                         (click)="onCambiarVisibilidadDetalleTodo()">
                        <div *ngIf="!cambiarIcono">
                          <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                        </div>
                        <div *ngIf="cambiarIcono"><i class="text-primary cursor-pointer"
                                                     data-feather="chevron-down"></i>
                        </div>
                      </a>
                    </div>
                  </th>
                  <th rowspan="2">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck" unchecked
                             [(ngModel)]="seleccionarTodo" (ngModelChange)="onSeleccionarTodo()"/>
                      <label class="custom-control-label" for="customCheck"></label>
                    </div>
                  </th>
                  <th rowspan="2">Acción</th>
                  <th rowspan="2">N° Liquidación</th>
                  <th rowspan="2">N° Solicitud</th>
                  <th rowspan="2">Fecha operación</th>
                  <th rowspan="2">Fecha aprobación</th>
                  <th rowspan="2">Cliente</th>
                  <th rowspan="2">Cliente RUC</th>
                  <th rowspan="2">Pagador / Proveedor</th>
                  <th rowspan="2">Pagador / Proveedor RUC</th>
                  <th rowspan="2">Moneda</th>
                  <th rowspan="2">Monto Total</th>
                  <th rowspan="2">Monto Descuento</th>
                  <th rowspan="2">Nuevo Monto Total</th>
                  <th rowspan="2">Estado</th>
                  <th colspan="4" class="audit-columns">Auditoría</th>
                </tr>
                <tr>
                  <th class="audit-columns">Creado por</th>
                  <th class="audit-columns">Fecha creación</th>
                  <th class="audit-columns">Modificado por</th>
                  <th class="audit-columns">Fecha modificación</th>
                </tr>
                </thead>
                <tbody>
                <ng-template let-cab ngFor [ngForOf]="desembolsos">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Ocultar / Mostrar"
                           (click)="onCambiarVisibilidadDetalle(cab)">
                          <div *ngIf="!cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                          </div>
                          <div *ngIf="cab.cambiarIcono"><i class="text-primary cursor-pointer"
                                                           data-feather="chevron-down"></i>
                          </div>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"
                               id="{{'customCheck' + cab.idLiquidacionCab}}"
                               [(ngModel)]="cab.seleccionado" (ngModelOptions)="{ standalone: true }"
                               [disabled]="!cab.checkList || cab.idEstado > 5"/>
                        <label class="custom-control-label" for="{{'customCheck' + cab.idLiquidacionCab}}"></label>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Enviar Correo"
                           *ngIf="cab.idTipoOperacion === 1 && !cab.alterno"
                           [class.disabled]="cab.idEstado != 5 || cab.idTipoOperacion != 1 ? true: null"
                           (click)="onEnviar(2, cab)"
                           class="btn btn-raised btn-outline-warning btn-sm">
                          <i class="text-warning cursor-pointer" data-feather="mail"></i>
                        </a>
                        <ng-template [ngIf]="cab.idTipoOperacion === 1">&nbsp;</ng-template>
                        <a href="javascript:void(0)" *ngIf="cab.idEstado !== 5" title="Editar"
                           (click)="onEditar(cab,  modalINFO)"
                           class="btn btn-raised btn-outline-success btn-sm">
                          <i class="text-success cursor-pointer" data-feather="edit"></i>
                        </a>
                        <a href="javascript:void(0)" *ngIf="cab.idEstado == 5" title="Ver"
                           (click)="onEditar(cab,  modalINFO)"
                           class="btn btn-raised btn-outline-info btn-sm">
                          <i class="text-info cursor-pointer" data-feather="eye"></i>
                        </a>
                        &nbsp;
                        <a href="javascript:void(0)" title="Eliminar"
                           [class.disabled]="cab.idEstado >= 5 ? true : null"
                           (click)="onEliminar(cab)"
                           class="btn btn-raised btn-outline-danger btn-sm">
                          <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                        </a>
                      </div>
                    </td>
                    <td>{{cab.codigo}}</td>
                    <td>
                      <div class="cell-line-height">
                        <p class="mb-25">
                          {{cab.codigoSolicitud}}
                        </p>
                        <span class="text-muted font-small-3">{{cab.tipoOperacion}}</span>
                      </div>
                    </td>
                    <td>{{cab.fechaOperacion_Global_ORG}}</td>
                    <td>{{cab.fechaAprobacion}}</td>
                    <td>{{cab.razonSocialCliente}}</td>
                    <td>{{cab.rucCliente}}</td>
                    <td>{{cab.razonSocialPagProv}}</td>
                    <td>{{cab.rucPagProv}}</td>
                    <td>{{cab.moneda}}</td>
                    <td><strong>{{cab.montoTotal | number: '1.2-2'}}</strong></td>
                    <td>{{cab.deudaAnterior | number: '1.2-2'}}</td>
                    <td><strong>{{cab.nuevoMontoTotal | number: '1.2-2'}}</strong></td>
                    <td>{{cab.estado}}</td>
                    <td>{{cab.usuarioCreacion}}</td>
                    <td>{{cab.fechaCreacion}}</td>
                    <td>{{cab.usuarioModificacion}}</td>
                    <td>{{cab.fechaModificacion}}</td>
                  </tr>
                  <tr id="{{ 'tr' + cab.idLiquidacionCab }}" style="visibility: collapse">
                    <td [colSpan]="20">
                      <div class="table-responsive"
                           style="padding-left: 20px; display: none; max-height: 300px; overflow-x: hidden"
                           id="{{ 'detail' + cab.idLiquidacionCab }}">
                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
                            <th class="detail-th-color">N° Documento</th>
                            <!--                            <th class="detail-th-color">T.N.M (%)</th>-->
                            <!--                            <th class="detail-th-color">T.N.A (%)</th>-->
                            <!--                            <th class="detail-th-color">Financiamiento (%)</th>-->
                            <!--                            <th class="detail-th-color">Fecha Confirmada</th>-->
                            <!--                            <th class="detail-th-color">Fecha Operación</th>-->
                            <!--                            <th class="detail-th-color">Día(s) Efectivo</th>-->
                            <!--                            <th class="detail-th-color">Neto Confirmado</th>-->
                            <!--                            <th class="detail-th-color">Comisión Estructuración (%)</th>-->
                            <!--                            <th class="detail-th-color">Monto Comisión E.</th>-->
                            <!--                            <th class="detail-th-color">Comisión E. (IGV)</th>-->
                            <th class="detail-th-color">Monto Total Comisión E.</th>
                            <th class="detail-th-color">Fondo Resguardo</th>
                            <th class="detail-th-color">Monto a Financiar</th>
                            <!--                            <th class="detail-th-color">Interés</th>-->
                            <!--                            <th class="detail-th-color">Interés (IGV)</th>-->
                            <th class="detail-th-color">Interés Total</th>
                            <!--                            <th class="detail-th-color">Gastos Contrato</th>-->
                            <!--                            <th class="detail-th-color">Gastos Vigencia Poder</th>-->
                            <!--                            <th class="detail-th-color">Servicio Custodia</th>-->
                            <!--                            <th class="detail-th-color">Servicio Cobranza</th>-->
                            <!--                            <th class="detail-th-color">Comisión Carta Notarial</th>-->
                            <!--                            <th class="detail-th-color">Gastos Diversos</th>-->
                            <!--                            <th class="detail-th-color">Gastos Diversos (IGV)</th>-->
                            <th class="detail-th-color">Total Gastos Diversos</th>
                            <th class="detail-th-color">Monto Total Facturado</th>
                            <th class="detail-th-color">Nota Crédito por Dev.</th>
                            <th class="detail-th-color">Monto Desembolso</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of cab.liquidacionDet">
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.razonSocialPagProv}}</td>
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.rucPagProv}}</td>
                            <td>{{item.nroDocumento}}</td>
                            <!--                            <td>{{item.tasaNominalMensual | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.tasaNominalAnual | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.financiamiento | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.fechaConfirmado}}</td>-->
                            <!--                            <td>{{item.fechaOperacionFormat}}</td>-->
                            <!--                            <td>{{item.diasEfectivo | number: '1.0-0'}}</td>-->
                            <!--                            <td>{{item.netoConfirmado | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.comisionEstructuracion | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.montoComisionEstructuracion | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.comisionEstructuracionIGV | number: '1.2-2'}}</td>-->
                            <td>{{item.comisionEstructuracionConIGV | number: '1.2-2'}}</td>
                            <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                            <td>{{item.montoCobrar | number: '1.2-2'}}</td>
                            <!--                            <td>{{item.interes | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.interesIGV | number: '1.2-2'}}</td>-->
                            <td>{{item.interesConIGV | number: '1.2-2'}}</td>
                            <!--                            <td>{{item.gastosContrato | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.gastoVigenciaPoder | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.servicioCustodia | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.servicioCobranza | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.comisionCartaNotarial | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.gastosDiversos | number: '1.2-2'}}</td>-->
                            <!--                            <td>{{item.gastosDiversosIGV | number: '1.2-2'}}</td>-->
                            <td>{{item.gastosDiversosConIGV | number: '1.2-2'}}</td>
                            <td>{{item.montoTotalFacturado | number: '1.2-2'}}</td>
                            <td>{{item.montoNotaCreditoDevolucion | number: '1.2-2'}}</td>
                            <td>{{item.montoDesembolso | number: '1.2-2'}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="onListarDesembolso()"
                            [maxSize]="3" [rotate]="false" [boundaryLinks]="true" [pageSize]="pageSize"
                            [ellipses]="false">
              <ng-template ngbPaginationFirst>
                <span [data-feather]="'chevrons-left'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <span [data-feather]="'chevron-left'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationNext>
                <span [data-feather]="'chevron-right'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationLast>
                <span [data-feather]="'chevrons-right'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
            </ngb-pagination>
          </div>
        </div>

        <ng-template #modalINFO let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Desembolso - [{{codigo}}]</h4>
            <button aria-label="Close" class="close" type="button" (click)="onCancelar()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" ngbAutofocus tabindex="0">
            <form [formGroup]="solicitudForm">
              <div class="row spaced">
                <div class="col-12">
                  <div class="divider divider-info">
                    <div class="divider-text">Información General</div>
                  </div>
                </div>
                <div class="col-md-12 col-12" hidden>
                  <div class="form-group">
                    <label>Id</label>
                    <input class="form-control" formControlName="idLiquidacionCab" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>RUC (Cliente)</label>
                    <input class="form-control" formControlName="rucCliente" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Razón Social (Cliente)</label>
                    <input class="form-control" formControlName="razonSocialCliente" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>RUC (Pagador / Proveedor)</label>
                    <input class="form-control" formControlName="rucPagProv" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Razón Social (Pagador / Proveedor)</label>
                    <input class="form-control" formControlName="razonSocialPagProv" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Moneda</label>
                    <input class="form-control" formControlName="moneda" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Monto Total</label>
                    <input class="form-control" formControlName="montoTotal" type="text"
                           mask="separator" thousandSeparator=","/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Monto Descuento</label>
                    <input class="form-control" formControlName="deudaAnterior" type="text"
                           mask="separator" thousandSeparator=","/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Nuevo Monto Total</label>
                    <input class="form-control" formControlName="nuevoMontoTotal" type="text"
                           mask="separator" thousandSeparator=","/>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="codigoMonedaCab !== codigoMonedaDet">
                  <div class="form-group">
                    <label>Tipo de Cambio</label>
                    <input class="form-control" formControlName="tipoCambioMoneda" type="number"
                           [ngClass]="{ 'is-invalid': submitted &&  tipoCambioMoneda == 0}"
                           [(ngModel)]="tipoCambioMoneda" (change)="onConvertirMontoTotal()"/>
                    <div *ngIf="ReactiveIUForm.tipoCambioMoneda.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.tipoCambioMoneda.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="codigoMonedaCab != codigoMonedaDet">
                  <div class="form-group">
                    <label>Nuevo Monto a Desembolsar en {{moneda}}</label>
                    <input class="form-control" formControlName="montoConvertido" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && tipoCambioMoneda == 0 }"/>
                    <div *ngIf="ReactiveIUForm.montoConvertido.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.montoConvertido.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="solicitudForm.controls.idTipoOperacion.value == 3" class="col-12">
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-control-inline">
                      <input type="checkbox" disabled class="custom-control-input"
                             id="flagPagoInteresAdelantado" formControlName="flagPagoInteresAdelantado"/>
                      <label class="custom-control-label"
                             for="flagPagoInteresAdelantado">Pago adelantado de intereses y gastos</label>
                    </div>
                    <!--                [checked]="row.valor > 0" (change)="setValor($event.currentTarget.checked ? 1 : 0, row)-->
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Observación de Descuento</label>
                    <textarea class="form-control" type="text" formControlName="observacion" readonly></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Observación de Solicitud</label>
                    <textarea class="form-control" style="font-weight: bold; color: red" readonly type="text"
                              formControlName="observacionSolicitud"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="divider divider-success">
                    <div class="divider-text">Información del Desembolso</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="table-responsive" style="max-height: 500px;">
                    <table class="table table-hover">
                      <thead>
                      <tr *ngIf="idTipoOperacion === 3">
                        <th colspan="8" class="detail-th-color">Información del Comprobante</th>
                        <th colspan="5" class="detail-th-color2">Información Bancaria</th>
                      </tr>
                      <tr>
                        <th class="detail-th-color">N° Documento</th>
                        <th class="detail-th-color">Neto Confirmado</th>
                        <th class="detail-th-color">Monto Total Comisión E.</th>
                        <th class="detail-th-color">Fondo Resguardo</th>
                        <th class="detail-th-color">Monto a Financiar</th>
                        <th class="detail-th-color">Interés</th>
                        <th class="detail-th-color">Total Gastos Diversos</th>
                        <th class="detail-th-color">Monto Desembolso</th>
                        <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Moneda</th>
                        <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Banco</th>
                        <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">N° Cuenta</th>
                        <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">CCI</th>
                        <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Tipo Cuenta</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="idTipoOperacion != 3">
                      <tr *ngFor="let item of desembolsoDet">
                        <td>{{item.nroDocumento}}</td>
                        <td>{{item.netoConfirmado | number: '1.2-2'}}</td>
                        <td>{{item.comisionEstructuracionConIGV | number: '1.2-2'}}</td>
                        <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                        <td>{{item.montoCobrar | number: '1.2-2'}}</td>
                        <td>{{item.interesConIGV}}</td>
                        <td>{{item.gastosDiversosConIGV}}</td>
                        <td>{{item.montoDesembolso | number: '1.2-2'}}</td>
                      </tr>
                      </tbody>
                      <tbody *ngIf="idTipoOperacion === 3">
                      <ng-template let-prov ngFor [ngForOf]="onProveedorDet(desembolsoDet)">
                        <tr>
                          <td class="detail-td-color" colspan="13" style="text-align: left">
                            <a href="javascript:void(0)" title="Editar Información Bancaria"
                               class="btn btn-raised btn-outline-success btn-sm"
                               [class.disabled]="idEstado > 4 ? true : null"
                               (click)="onEditarInfoBancaria(prov, modalINFOBANCO)">
                              <i class="text-success cursor-pointer" data-feather="edit"></i>
                            </a>
                            &nbsp;
                            <i>Proveedor:</i>&nbsp;<b>{{prov.rucPagProv}} - {{prov.razonSocialPagProv}}</b> &nbsp;
                            &nbsp;
                            <i>Subtotal
                              Desembolso:</i>&nbsp;<b>{{onDesembolsoDet_Total(onDesembolsoDet(desembolsoDet, prov.rucPagProv)) | number: '1.2-2'}}</b>
                          </td>
                        </tr>
                        <tr *ngFor="let item of onDesembolsoDet(desembolsoDet, prov.rucPagProv)">
                          <td>{{item.nroDocumento}}</td>
                          <td>{{item.netoConfirmado | number: '1.2-2'}}</td>
                          <td>{{item.comisionEstructuracionConIGV | number: '1.2-2'}}</td>
                          <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                          <td>{{item.montoCobrar | number: '1.2-2'}}</td>
                          <td>{{item.interesConIGV}}</td>
                          <td>{{item.gastosDiversosConIGV}}</td>
                          <td>{{item.montoDesembolso | number: '1.2-2'}}</td>
                          <td *ngIf="idTipoOperacion === 3">{{item.monedaCuentaBancariaDestino}}</td>
                          <td *ngIf="idTipoOperacion === 3">{{item.bancoDestino}}</td>
                          <td *ngIf="idTipoOperacion === 3">{{item.nroCuentaBancariaDestino}}</td>
                          <td *ngIf="idTipoOperacion === 3">{{item.cciDestino}}</td>
                          <td *ngIf="idTipoOperacion === 3">{{item.tipoCuentaBancariaDestino}}</td>
                        </tr>
                      </ng-template>
                      </tbody>
                      <tfoot>
                      <td class="detail-td-color" colspan="7" style="text-align: right"><i>Total Monto a
                        Desembolsar:</i></td>
                      <td class="detail-td-color"><b>{{totalMontoDescembolso | number: '1.2-2'}}</b></td>
                      <td class="detail-td-color" colspan="5" *ngIf="idTipoOperacion === 3"></td>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="col-12" *ngIf="idTipoOperacion != 3">
                  <div class="divider divider-warning">
                    <div class="divider-text">Información de Cuenta Bancaria</div>
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver && idTipoOperacion != 3">
                  <div class="d-flex flex-wrap mb-0">
                    <div class="pb-1">
                      <button type="submit" rippleEffect class="btn btn-warning"
                              (click)="onSeleccioneCuenta(modalCUENTA)">
                        <i class="mr-0 mr-sm-1" data-feather="arrow-right-circle"></i>
                        <span class="d-none d-sm-inline-block">Seleccione...</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>Titular</label>
                    <input class="form-control" formControlName="titularCuentaBancariaDestino" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.titularCuentaBancariaDestino.errors }"/>
                    <div *ngIf="ReactiveIUForm.titularCuentaBancariaDestino.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.titularCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>Moneda</label>
                    <input class="form-control" formControlName="monedaCuentaBancariaDestino" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.monedaCuentaBancariaDestino.errors }"/>
                    <div *ngIf="ReactiveIUForm.monedaCuentaBancariaDestino.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.monedaCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>Banco</label>
                    <input class="form-control" formControlName="bancoDestino" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.bancoDestino.errors }"/>
                    <div *ngIf="ReactiveIUForm.bancoDestino.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.bancoDestino.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>N° Cuenta</label>
                    <input class="form-control" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && nroCuentaBancariaDestino === '' }"
                           [(ngModel)]="nroCuentaBancariaDestino" [ngModelOptions]="{standalone: true}"/>
                    <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''" class="invalid-feedback">
                      <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''">* Campo obligatorio solo si no
                        existe un valor en CCI
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>CCI</label>
                    <input class="form-control" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && nroCuentaBancariaDestino === '' }"
                           [(ngModel)]="cciDestino" [ngModelOptions]="{standalone: true}"/>
                    <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''" class="invalid-feedback">
                      <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''">* Campo obligatorio solo si no
                        existe un valor en N° Cuenta
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
                  <div class="form-group">
                    <label>Tipo de Cuenta</label>
                    <input class="form-control" formControlName="tipoCuentaBancariaDestino" type="text" readonly
                           [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.tipoCuentaBancariaDestino.errors }"/>
                    <div *ngIf="ReactiveIUForm.tipoCuentaBancariaDestino.errors" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.tipoCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="divider divider-danger">
                    <div class="divider-text">Información de Comisión Interplaza</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>¿Incluir Comisión Interplaza?</label>
                    <div class="form-control custom-control custom-switch custom-control-inline"
                         style="border: 0px; background-color: transparent">
                      <label style="padding-right: 0.5rem; line-height: 1.7rem">No</label>
                      <input type="checkbox" class="custom-control-input"
                             id="flagComisionInterplaza" formControlName="flagComisionInterplaza"
                             [attr.disabled]="ver ? true : null">
                      <label class="custom-control-label"
                             for="flagComisionInterplaza">Sí</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="ReactiveIUForm.flagComisionInterplaza.value">
                  <div class="form-group">
                    <label>Fecha</label>
                    <div class="input-group">
                      <input [readonly]="ver" class="form-control" placeholder="yyyy-mm-dd"
                             formControlName="fechaComisionInterplaza" container="body"
                             ngbDatepicker #basicDP="ngbDatepicker">
                      <div class="input-group-append">
                        <button [disabled]="ver" class="btn btn-outline-secondary feather icon-x"
                                (click)="onCambioFechaComisionInterplaza()"
                                type="button" rippleEffect></button>
                      </div>
                      <div class="input-group-append">
                        <button [disabled]="ver" class="btn btn-outline-secondary feather icon-calendar"
                                (click)="basicDP.toggle()"
                                type="button" rippleEffect></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="ReactiveIUForm.flagComisionInterplaza.value">
                  <div class="form-group">
                    <label>Monto</label>
                    <input [readonly]="ver" class="form-control" formControlName="montoComisionInterplaza" type="text"
                           [ngClass]="{ 'is-invalid': ReactiveIUForm.flagComisionInterplaza.value && (
                    ReactiveIUForm.montoComisionInterplaza.value === null ||
                    ReactiveIUForm.montoComisionInterplaza.value === 0
                    ) }">
                    <div *ngIf="ReactiveIUForm.flagComisionInterplaza.value && (
                    ReactiveIUForm.montoComisionInterplaza.value === null ||
                    ReactiveIUForm.montoComisionInterplaza.value === 0
                    )" class="invalid-feedback">
                      <div *ngIf="ReactiveIUForm.montoComisionInterplaza.value === null">* Campo obligatorio</div>
                      <div *ngIf="ReactiveIUForm.montoComisionInterplaza.value === 0">* El monto debe ser mayor a cero
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="ReactiveIUForm.flagComisionInterplaza.value">
                  <div class="form-group">
                    <label>Observación</label>
                    <textarea [readonly]="ver" class="form-control" formControlName="observacionComisionInterplaza"
                              type="text"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="divider divider-secondary">
                    <div class="divider-text">Documento(s) de Sustento</div>
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>Navegación</a>
                      <ng-template ngbNavContent>
                        <fieldset class="form-group">
                          <!--                          <label for="file-upload-multiple">Multiple</label>-->
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              ng2FileSelect
                              [uploader]="archivosSustento"
                              (onFileSelected)="fileOverBase(false)"
                              multiple
                              id="file-upload-multiple"
                            />
                            <label class="custom-file-label">Seleccione...</label>
                          </div>
                        </fieldset>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a ngbNavLink>Arrastar y Soltar</a>
                      <ng-template ngbNavContent>
                        <div
                          ng2FileDrop
                          [ngClass]="{ 'file-drop-over': hasBaseDropZoneOver }"
                          (fileOver)="fileOverBase($event)"
                          [uploader]="archivosSustento"

                          class="py-5 mb-3 text-center font-medium-5 text-uppercase file-drop-zone"
                        >
                          Arrastre aquí los archivos
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <div class="d-flex justify-content-between mb-1">
                    <h4>Archivo(s) a subir</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th [width]="250">Tipo</th>
                        <th>Nombre</th>
                        <th>Tamaño</th>
                        <th>Acción</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of archivos">
                        <td [width]="250">
                          <ng-select appendTo="body" [clearable]="false" [items]="tiposArchivos"
                                     style="width: 250px"
                                     bindLabel="descripcion" placeholder="Tipo Archivo"
                                     bindValue="idColumna" [(ngModel)]="item.idTipo"
                                     [ngModelOptions]="{standalone: true}">
                          </ng-select>
                        </td>
                        <td>
                          <strong>{{ item.nombre }}</strong>
                        </td>
                        <td>
                          {{item.tamanio}}
                        </td>
                        <td nowrap>
                          <button
                            (click)="onEliminarArchivo(item)"
                            type="button"
                            class="btn btn-raised btn-outline-danger btn-sm"
                            rippleEffect>
                            <i data-feather="trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <div class="divider divider-secondary">
                    <div class="divider-text"><span [data-feather]="'chevrons-down'"></span></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex justify-content-between mb-1">
                    <h4>Archivo(s) adjuntos</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th *ngIf="!ver">Acción</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of sustentos">
                        <td [ngClass]="{'row-edicion': item.editado}"><p
                          [ngClass]="{ 'eliminado': !item.estado }">{{item.tipo}}</p></td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <a href="{{item.rutaArchivo}}" target="_blank"><strong
                            [ngClass]="{ 'eliminado': !item.estado }">{{ item.archivo }}</strong></a>
                        </td>
                        <td nowrap *ngIf="!ver">
                          <button *ngIf="item.estado"
                                  type="button"
                                  class="btn btn-raised btn-outline-danger btn-sm"
                                  rippleEffect (click)="onEliminarArchivoAdjunto(item)">
                            <i data-feather="trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="display: block !important;">
            <div class="row">
              <div class="col-md-12 col-12">
                <div style="float: right">
                  <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar()" *ngIf="!ver">
                    <span [data-feather]="'save'"></span> Guardar
                  </button>
                  &nbsp;
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()" *ngIf="!ver">
                    <span [data-feather]="'x-circle'"></span> Cancelar
                  </button>
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()" *ngIf="ver">
                    <span [data-feather]="'x-circle'"></span> Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #modalINFOBANCO let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Proveedor: {{proveedor}}</h4>
            <button aria-label="Close" class="close" type="button" (click)="onCancelarInfoBanco(modal)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" ngbAutofocus tabindex="0">
            <app-aprobacion-detalle [infoBanco]="infoBanco" [detalleForm]="detalleForm"></app-aprobacion-detalle>
          </div>
          <div class="modal-footer" style="display: block !important;">
            <div class="row">
              <div class="col-md-12 col-12">
                <div style="float: right">
                  <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardarInfoBanco(modal)">
                    <span [data-feather]="'save'"></span> Guardar
                  </button>
                  &nbsp;
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelarInfoBanco(modal)">
                    <span [data-feather]="'x-circle'"></span> Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #modalCUENTA let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Seleccione una Cuenta</h4>
            <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" ngbAutofocus tabindex="0">
            <div class="row spaced">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label>Datos de Cuenta de Banco</label>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <!--                    <th>Acción</th>-->
                        <th>Titular</th>
                        <th>Banco</th>
                        <th>Moneda</th>
                        <th>N° Cuenta</th>
                        <th>CCI</th>
                        <th>Activo</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of cuentas" (click)="onSeleccionarCuenta(item, modal)">
                        <!--                    <td>-->
                        <!--                      <div class="d-flex align-items-center">-->
                        <!--                        <a href="javascript:void(0)" title="Seleccionar" (click)="onSeleccionarCuenta(item, modal)">-->
                        <!--                          <i class="text-primary cursor-pointer" data-feather="arrow-right-circle"></i>-->
                        <!--                        </a>-->
                        <!--                      </div>-->
                        <!--                    </td>-->
                        <td>{{item.titular}}</td>
                        <td>{{item.banco}}</td>
                        <td>{{item.moneda}}</td>
                        <td>{{item.nroCuenta}}</td>
                        <td>{{item.cci}}</td>
                        <td>{{(item.predeterminado ? 'Sí' : 'No')}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <block-ui></block-ui>
      </div>
    </div>
  </div>
</div>

