<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <core-card #coreCard [actions]="['collapse', 'reload']" (events)="onLimpiarFiltro($event)">
      <h4 class="card-title">Buscar por</h4>
      <div class="card-body">
        <form [formGroup]="filtroForm">
          <div class="row">
            <div class="col-12">
              <div class="divider divider-success">
                <div class="divider-text">Liquidación - Cabecera</div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>N° Liquidación</label>
                <input class="form-control" formControlName="codigoLiquidacion" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>N° Solicitud</label>
                <input class="form-control" formControlName="codigoSolicitud" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>Cliente (RUC o Razón Social)</label>
                <input class="form-control" formControlName="cliente" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <label>Pag. / Prov. (RUC o Razón Social)</label>
                <input class="form-control" formControlName="pagadorProveedor" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Moneda</label>
                <ng-select appendTo="body" [clearable]="false" [items]="currency" bindLabel="descripcion"
                           placeholder="Moneda" bindValue="valor" formControlName="moneda"
                           (ngModelChange)="onListarLiquidaciones()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tipo Operación</label>
                <ng-select appendTo="body" [clearable]="false" [items]="operationType" bindLabel="descripcion"
                           placeholder="Tipo Operación" bindValue="idColumna" formControlName="tipoOperacion"
                           (ngModelChange)="onListarLiquidaciones()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Estado</label>
                <ng-select appendTo="body" [clearable]="false" [items]="state" bindLabel="descripcion"
                           placeholder="Estado" bindValue="idColumna" formControlName="estado"
                           (ngModelChange)="onListarLiquidaciones()">
                </ng-select>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-warning">
                <div class="divider-text">Liquidación - Detalle</div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Pag. / Prov. (RUC o Razón Social)</label>
                <input class="form-control" formControlName="pagadorProveedorDet" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>N° Documento</label>
                <input class="form-control" formControlName="nroDocumento" type="text"
                       (ngModelChange)="onListarLiquidaciones()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Fecha Operación</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="fechaOperacion" container="body"
                         ngbDatepicker #basicDP="ngbDatepicker" (ngModelChange)="onListarLiquidaciones()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-x"
                            (click)="onCambioFechaOperacion()"
                            type="button" rippleEffect></button>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDP.toggle()"
                            type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </core-card>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onListarLiquidaciones()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1 pr-1" *ngIf="mostrar === 'true'">
              <button type="submit" rippleEffect class="btn btn-primary"
                      (click)="onAprobar(3)">
                <i class="mr-0 mr-sm-1" data-feather="check"></i>
                <span class="d-none d-sm-inline-block">Aprobar</span>
              </button>
            </div>
            <div class="pt-1 pb-1" *ngIf="mostrar === 'true'">
              <button type="submit" rippleEffect class="btn btn-warning"
                      (click)="onEnviar(1, null)">
                <i class="mr-0 mr-sm-1" data-feather="mail"></i>
                <span class="d-none d-sm-inline-block">Enviar Correo(s)</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onListarLiquidaciones()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onListarLiquidaciones()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead>
                <tr class="fila-cabecera">
                  <th [colSpan]="mostrar === 'true' ? 3 : 1" class="action-color">Acción</th>
                  <th colspan="13">Liquidación</th>
                </tr>
                <tr>
                  <th class="action-color">
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Ocultar / Mostrar"
                         (click)="onCambiarVisibilidadDetalleTodo()">
                        <div *ngIf="!cambiarIcono">
                          <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                        </div>
                        <div *ngIf="cambiarIcono"><i class="text-primary cursor-pointer"
                                                     data-feather="chevron-down"></i>
                        </div>
                      </a>
                    </div>
                  </th>
                  <th class="action-color" *ngIf="mostrar === 'true'">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckL" unchecked
                             [(ngModel)]="seleccionarTodo" (ngModelChange)="onSeleccionarTodo()"/>
                      <label class="custom-control-label" for="customCheckL"></label>
                    </div>
                  </th>
                  <th class="action-color" *ngIf="mostrar === 'true'">Acción</th>
                  <th>N° Liquidación</th>
                  <th>N° Solicitud</th>
                  <th>Cliente</th>
                  <th>Cliente RUC</th>
                  <th>Pagador / Proveedor</th>
                  <th>Pagador / Proveedor RUC</th>
                  <th>Moneda</th>
                  <th>Monto Total</th>
                  <th>Monto Descuento</th>
                  <th>Nuevo Monto Total</th>
                  <th>Observación</th>
                  <th>Tipo Operación</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <ng-template let-cab ngFor [ngForOf]="liquidaciones">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Ocultar / Mostrar"
                           (click)="onCambiarVisibilidadDetalle(cab)">
                          <div *ngIf="!cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                          </div>
                          <div *ngIf="cab.cambiarIcono"><i class="text-primary cursor-pointer"
                                                           data-feather="chevron-down"></i>
                          </div>
                        </a>
                      </div>
                    </td>
                    <td *ngIf="mostrar === 'true'">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [disabled]="cab.idEstado != 1"
                               id="{{'customCheckL' + cab.idLiquidacionCab}}"
                               [(ngModel)]="cab.seleccionado" (ngModelOptions)="{ standalone: true }"/>
                        <label class="custom-control-label" for="{{'customCheckL' + cab.idLiquidacionCab}}"></label>
                      </div>
                    </td>
                    <td *ngIf="mostrar === 'true'">
                      <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                          <a ngbDropdownToggle href="javascript:void(0);"
                             class="btn btn-raised btn-outline-secondary btn-sm" id="dropdownBrowserState"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             title="Opciones">
                            <!--                                                        <i data-feather="more-vertical"></i>-->
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                            <a ngbDropdownItem href="javascript:void(0)" title="Enviar Correo"
                               [class.disabled]="cab.idEstado != 1 ? true: null"
                               (click)="onEnviar(2, cab)"
                               class="d-flex align-items-center">
                              <i class="text-warning cursor-pointer mr-50" data-feather="mail"></i> Enviar Correo
                            </a>
                            <a ngbDropdownItem href="javascript:void(0)" *ngIf="cab.idEstado == 1" title="Editar"
                               (click)="onEditarCab(cab,  modalINFO)"
                               class="d-flex align-items-center">
                              <i class="text-success cursor-pointer mr-50" data-feather="edit"></i> Editar
                            </a>
                            <a ngbDropdownItem href="javascript:void(0)" *ngIf="cab.idEstado !== 1" title="Ver"
                               (click)="onEditarCab(cab,  modalINFO)"
                               class="d-flex align-items-center">
                              <i class="text-info cursor-pointer mr-50" data-feather="eye"></i> Ver
                            </a>
                            <a ngbDropdownItem href="javascript:void(0)" title="Eliminar"
                               [class.disabled]="cab.idEstado >= 5 ? true : null"
                               (click)="onEliminar(cab)"
                               class="d-flex align-items-center">
                              <i class="text-danger cursor-pointer mr-50" data-feather="trash-2"></i> Eliminar
                            </a>
                            <a ngbDropdownItem href="javascript:void(0)" title="Auditoría"
                               (click)="onAuditoria(cab, modalAUDIT)"
                               class="d-flex align-items-center">
                              <i class="text-secondary fa fa-history mr-50"></i> Auditoría
                            </a>
                          </div>
                        </div>
                      </div>
                      <!--                      <div class="d-flex align-items-center">-->
                      <!--                        <a href="javascript:void(0)" title="Enviar Correo" [class.disabled]="cab.idEstado != 1 ? true: null"-->
                      <!--                           (click)="onEnviar(2, cab)"-->
                      <!--                           class="btn btn-raised btn-outline-warning btn-sm">-->
                      <!--                          <i class="text-warning cursor-pointer" data-feather="mail"></i>-->
                      <!--                        </a>-->
                      <!--                        &nbsp;-->
                      <!--                        <a href="javascript:void(0)" *ngIf="cab.idEstado == 1" title="Editar"-->
                      <!--                           (click)="onEditarCab(cab,  modalINFO)"-->
                      <!--                           class="btn btn-raised btn-outline-success btn-sm">-->
                      <!--                          <i class="text-success cursor-pointer" data-feather="edit"></i>-->
                      <!--                        </a>-->
                      <!--                        <a href="javascript:void(0)" *ngIf="cab.idEstado !== 1" title="Ver"-->
                      <!--                           (click)="onEditarCab(cab,  modalINFO)"-->
                      <!--                           class="btn btn-raised btn-outline-info btn-sm">-->
                      <!--                          <i class="text-info cursor-pointer" data-feather="eye"></i>-->
                      <!--                        </a>-->
                      <!--                        &nbsp;-->
                      <!--                        <a href="javascript:void(0)" title="Eliminar" [class.disabled]="cab.idEstado >= 5 ? true : null"-->
                      <!--                           (click)="onEliminar(cab)"-->
                      <!--                           class="btn btn-raised btn-outline-danger btn-sm">-->
                      <!--                          <i class="text-danger cursor-pointer" data-feather="trash-2"></i>-->
                      <!--                        </a>-->
                      <!--                      </div>-->
                    </td>
                    <td>{{cab.codigo}}</td>
                    <td>{{cab.codigoSolicitud}}</td>
                    <td>{{cab.razonSocialCliente}}</td>
                    <td>{{cab.rucCliente}}</td>
                    <td>{{cab.razonSocialPagProv}}</td>
                    <td>{{cab.rucPagProv}}</td>
                    <td>{{cab.moneda}}</td>
                    <td><strong>{{cab.montoTotal | number: '1.2-2'}}</strong></td>
                    <td>{{cab.deudaAnterior | number: '1.2-2'}}</td>
                    <td><strong>{{cab.nuevoMontoTotal | number: '1.2-2'}}</strong></td>
                    <td>{{cab.observacion}}</td>
                    <td>{{cab.tipoOperacion}}</td>
                    <td>{{cab.estado}}</td>
                  </tr>
                  <tr id="{{ 'trL' + cab.idLiquidacionCab }}" style="visibility: collapse">
                    <td [colSpan]="mostrar === 'true' ? 16 : 14">
                      <div class="row" *ngIf="mostrar === 'true' && cab.idEstado === 1">
                        <div class="d-flex flex-wrap mb-0">
                          <div class="pl-1 pt-1 pb-1">
                            <button type="submit" rippleEffect class="btn btn-success" (click)="onGuardarCambios(cab)">
                              <i class="mr-0 mr-sm-1" data-feather="save"></i>
                              <span class="d-none d-sm-inline-block">Guardar Cambios</span>
                            </button>
                          </div>
                          <div class="p-1">
                            <button type="submit" rippleEffect class="btn btn-secondary" (click)="onDeshacerCambios()">
                              <i class="mr-0 mr-sm-1" data-feather="corner-up-left"></i>
                              <span class="d-none d-sm-inline-block">Deshacer Cambios</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="table-responsive"
                             style="padding-left: 20px; display: none; max-height: 300px; overflow-x: hidden"
                             id="{{ 'detailL' + cab.idLiquidacionCab }}">
                          <table class="table table-hover">
                            <thead>
                            <tr>
                              <th class="detail-th-color">Acción</th>
                              <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
                              <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
                              <th class="detail-th-color">N° Documento</th>
                              <th class="detail-th-color">T.N.M (%)</th>
                              <!--                              <th class="detail-th-color">T.N.A (%)</th>-->
                              <!--                              <th class="detail-th-color">Financiamiento (%)</th>-->
                              <!--                              <th class="detail-th-color">Fecha Operación</th>-->
                              <!--                              <th class="detail-th-color">Fecha Confirmada</th>-->
                              <!--                              <th class="detail-th-color">Día(s) Efectivo</th>-->
                              <th class="detail-th-color">Neto Confirmado</th>
                              <!--                              <th class="detail-th-color">Comisión Estructuración (%)</th>-->
                              <!--                              <th class="detail-th-color">Monto Comisión E.</th>-->
                              <!--                              <th class="detail-th-color">Comisión E. (IGV)</th>-->
                              <th class="detail-th-color">Monto Total Comisión E.</th>
                              <th class="detail-th-color">Fondo Resguardo</th>
                              <th class="detail-th-color">Monto a Financiar</th>
                              <!--                              <th class="detail-th-color">Interés</th>-->
                              <!--                              <th class="detail-th-color">Interés (IGV)</th>-->
                              <th class="detail-th-color">Interés Total</th>
                              <!--                              <th class="detail-th-color">Gastos Contrato</th>-->
                              <!--                              <th class="detail-th-color">Gastos Vigencia Poder</th>-->
                              <!--                              <th class="detail-th-color">Servicio Custodia</th>-->
                              <!--                              <th class="detail-th-color">Servicio Cobranza</th>-->
                              <!--                              <th class="detail-th-color">Comisión Carta Notarial</th>-->
                              <!--                              <th class="detail-th-color">Gastos Diversos</th>-->
                              <!--                              <th class="detail-th-color">Gastos Diversos (IGV)</th>-->
                              <th class="detail-th-color">Total Gastos Diversos</th>
                              <th class="detail-th-color">Monto Total Facturado</th>
                              <th class="detail-th-color">Nota Crédito por Dev.</th>
                              <th class="detail-th-color">Monto Desembolso</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of cab.liquidacionDet">
                              <td>
                                <div class="d-flex align-items-center">
                                  <a *ngIf="mostrar === 'true' && cab.idEstado === 1" href="javascript:void(0)" title="Editar"
                                     (click)="onEditar(cab, item, modalDETALLE)"
                                     class="btn btn-raised btn-outline-success btn-sm">
                                    <i class="text-success cursor-pointer" data-feather="edit"></i>
                                  </a>
                                  <a *ngIf="cab.idEstado != 1" href="javascript:void(0)" title="Ver"
                                     (click)="onEditar(cab, item, modalDETALLE)"
                                     class="btn btn-raised btn-outline-info btn-sm">
                                    <i class="text-info cursor-pointer" data-feather="eye"></i>
                                  </a>
<!--                                  <a *ngIf="item.edicion" href="javascript:void(0)" title="Cancelar"-->
<!--                                     (click)="onCancelar(item)"-->
<!--                                     class="btn btn-raised btn-outline-secondary btn-sm">-->
<!--                                    <i class="text-secondary cursor-pointer" data-feather="corner-up-left"></i>-->
<!--                                  </a>-->
<!--                                  &nbsp;-->
<!--                                  <a *ngIf="item.edicion" href="javascript:void(0)" title="Confirmar cambios"-->
<!--                                     class="btn btn-raised btn-outline-success btn-sm"-->
<!--                                     (click)="onConfirmarCambio(item)">-->
<!--                                    <i class="text-success cursor-pointer" data-feather="save"></i>-->
<!--                                  </a>-->
                                </div>
                              </td>
                              <td *ngIf="cab.idTipoOperacion === 3" [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.razonSocialPagProv}}</p></td>
                              <td *ngIf="cab.idTipoOperacion === 3" [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.rucPagProv}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}"><p>{{item.nroDocumento}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.tasaNominalMensual | number: '1.2-2'}}</p></td>
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.tasaNominalAnual | number: '1.2-2'}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.financiamiento | number: '1.2-2'}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}" style="min-width: 220px">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.fechaOperacionFormat}}</p>-->
                              <!--                                <div class="input-group" *ngIf="item.edicion">-->
                              <!--                                  <input class="form-control" placeholder="yyyy-mm-dd"-->
                              <!--                                         [(ngModel)]="item.fechaOperacion" container="body"-->
                              <!--                                         (ngModelChange)="onCambiarFechaOperacion($event, cab, item)"-->
                              <!--                                         ngbDatepicker #basicDP="ngbDatepicker">-->
                              <!--                                  <div class="input-group-append">-->
                              <!--                                    <button class="btn btn-outline-secondary feather icon-calendar"-->
                              <!--                                            (click)="basicDP.toggle()"-->
                              <!--                                            type="button" rippleEffect></button>-->
                              <!--                                  </div>-->
                              <!--                                </div>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}"><p>{{item.fechaConfirmado}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.diasEfectivo | number: '1.0-0'}}</p></td>-->
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.netoConfirmado | number: '1.2-2'}}</p></td>
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.comisionEstructuracion | number: '1.2-2'}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.montoComisionEstructuracion | number: '1.2-2'}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.comisionEstructuracionIGV | number: '1.2-2'}}</p></td>-->
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.comisionEstructuracionConIGV | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.fondoResguardo | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.montoCobrar | number: '1.2-2'}}</p></td>
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}"><p>{{item.interes | number: '1.2-2'}}</p>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}"><p>{{item.interesIGV | number: '1.2-2'}}</p>-->
                              <!--                              </td>-->
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.interesConIGV | number: '1.2-2'}}</p></td>
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.gastosContrato | number: '1.2-2'}}</p>-->
                              <!--                                <input *ngIf="item.edicion" class="form-control" type="text"-->
                              <!--                                       placeholder="Gastos Contrato"-->
                              <!--                                       [(ngModel)]="item.gastosContrato" mask="separator" thousandSeparator=","-->
                              <!--                                       (ngModelChange)="onCalcular(cab, item)"-->
                              <!--                                       [ngModelOptions]="{standalone: true}"/>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.gastoVigenciaPoder | number: '1.2-2'}}</p>-->
                              <!--                                <input *ngIf="item.edicion" class="form-control" type="text"-->
                              <!--                                       placeholder="Gasto Vigencia Poder"-->
                              <!--                                       [(ngModel)]="item.gastoVigenciaPoder" mask="separator" thousandSeparator=","-->
                              <!--                                       (ngModelChange)="onCalcular(cab, item)"-->
                              <!--                                       [ngModelOptions]="{standalone: true}"/>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.servicioCustodia | number: '1.2-2'}}</p>-->
                              <!--                                <input *ngIf="item.edicion" class="form-control" type="text"-->
                              <!--                                       placeholder="Servicio Custodia"-->
                              <!--                                       [(ngModel)]="item.servicioCustodia" mask="separator" thousandSeparator=","-->
                              <!--                                       (ngModelChange)="onCalcular(cab, item)"-->
                              <!--                                       [ngModelOptions]="{standalone: true}"/>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.servicioCobranza | number: '1.2-2'}}</p>-->
                              <!--                                <input *ngIf="item.edicion" class="form-control" type="text"-->
                              <!--                                       placeholder="Servicio Cobranza"-->
                              <!--                                       [(ngModel)]="item.servicioCobranza" mask="separator" thousandSeparator=","-->
                              <!--                                       (ngModelChange)="onCalcular(cab, item)"-->
                              <!--                                       [ngModelOptions]="{standalone: true}"/>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p *ngIf="!item.edicion">{{item.comisionCartaNotarial | number: '1.2-2'}}</p>-->
                              <!--                                <input *ngIf="item.edicion" class="form-control" type="text"-->
                              <!--                                       placeholder="Comisión Carta Notarial"-->
                              <!--                                       [(ngModel)]="item.comisionCartaNotarial" mask="separator" thousandSeparator=","-->
                              <!--                                       (ngModelChange)="onCalcular(cab, item)"-->
                              <!--                                       [ngModelOptions]="{standalone: true}"/>-->
                              <!--                              </td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.gastosDiversos | number: '1.2-2'}}</p></td>-->
                              <!--                              <td [ngClass]="{'row-edicion': item.editado}">-->
                              <!--                                <p>{{item.gastosDiversosIGV | number: '1.2-2'}}</p></td>-->
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.gastosDiversosConIGV | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.montoTotalFacturado | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.montoNotaCreditoDevolucion | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado}">
                                <p>{{item.montoDesembolso | number: '1.2-2'}}</p></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onListarLiquidaciones()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>

        <ng-template #modalINFO let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Liquidación - [{{codigo}}]</h4>
            <button aria-label="Close" class="close" type="button" (click)="onCancelarCab()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" ngbAutofocus tabindex="0" [perfectScrollbar]>
            <form [formGroup]="liquidacionForm">
              <div class="row spaced">
                <div class="col-12">
                  <div class="divider divider-info">
                    <div class="divider-text">Información General</div>
                  </div>
                </div>
                <div class="col-md-12 col-12" hidden>
                  <div class="form-group">
                    <label>Id</label>
                    <input class="form-control" formControlName="idLiquidacionCab" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>RUC (Cliente)</label>
                    <input class="form-control" formControlName="rucCliente" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Razón Social (Cliente)</label>
                    <input class="form-control" formControlName="razonSocialCliente" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>RUC (Pagador / Proveedor)</label>
                    <input class="form-control" formControlName="rucPagProv" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Razón Social (Pagador / Proveedor)</label>
                    <input class="form-control" formControlName="razonSocialPagProv" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Moneda</label>
                    <input class="form-control" formControlName="moneda" type="text"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Monto Total</label>
                    <input class="form-control" formControlName="montoTotal" type="text"
                           mask="separator" thousandSeparator=","/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Monto Descuento</label>
                    <input class="form-control" [(ngModel)]="deudaAnterior" [ngModelOptions]="{standalone: true}"
                           type="text"
                           (ngModelChange)="onDeudaAnteriorCambio($event)"
                           mask="separator" thousandSeparator="," [disabled]="ver || idTipoOperacion === 3"/>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label>Nuevo Monto Total</label>
                    <input class="form-control" formControlName="nuevoMontoTotal" type="text"
                           mask="separator" thousandSeparator=","/>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label>Observación</label>
                    <textarea class="form-control" [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}"
                              type="text"
                              [ngClass]="{ 'is-invalid': submitted && deudaAnterior > 0 && observacion === '' }"
                              [disabled]="ver || idTipoOperacion === 3"></textarea>
                    <div *ngIf="deudaAnterior > 0 && observacion === ''" class="invalid-feedback">
                      <div *ngIf="deudaAnterior > 0 && observacion === ''">* Campo obligatorio</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="divider divider-secondary">
                    <div class="divider-text">Documento(s) de Sustento</div>
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <div
                    ng2FileDrop
                    [ngClass]="{ 'file-drop-over': hasBaseDropZoneOver }"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="archivosSustento"
                    class="py-5 mb-3 text-center font-medium-5 text-uppercase file-drop-zone"
                  >
                    Arrastre aquí los archivos
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <div class="d-flex justify-content-between mb-1">
                    <h4>Archivo(s) a subir</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th [width]="250">Tipo</th>
                        <th>Nombre</th>
                        <th>Tamaño</th>
                        <th>Acción</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of archivos">
                        <td [width]="250">
                          <ng-select appendTo="body" [clearable]="false" [items]="tiposArchivos"
                                     style="width: 250px"
                                     bindLabel="descripcion" placeholder="Tipo Archivo"
                                     bindValue="idColumna" [(ngModel)]="item.idTipo"
                                     [ngModelOptions]="{standalone: true}">
                          </ng-select>
                        </td>
                        <td>
                          <strong>{{ item.nombre }}</strong>
                        </td>
                        <td>
                          {{item.tamanio}}
                        </td>
                        <td nowrap>
                          <button
                            (click)="onEliminarArchivo(item)"
                            type="button"
                            class="btn btn-raised btn-outline-danger btn-sm"
                            rippleEffect>
                            <i data-feather="trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-12" *ngIf="!ver">
                  <div class="divider divider-secondary">
                    <div class="divider-text"><span [data-feather]="'chevrons-down'"></span></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex justify-content-between mb-1">
                    <h4>Archivo(s) adjuntos</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th *ngIf="!ver">Acción</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of sustentos">
                        <td [ngClass]="{'row-edicion': item.editado}"><p
                          [ngClass]="{ 'eliminado': !item.estado }">{{item.tipo}}</p></td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <a href="{{item.rutaArchivo}}" target="_blank"><strong
                            [ngClass]="{ 'eliminado': !item.estado }">{{ item.archivo }}</strong></a>
                        </td>
                        <td nowrap *ngIf="!ver">
                          <button *ngIf="item.estado"
                                  type="button"
                                  class="btn btn-raised btn-outline-danger btn-sm"
                                  rippleEffect (click)="onEliminarArchivoAdjunto(item)">
                            <i data-feather="trash"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="display: block !important;">
            <div class="row">
              <div class="col-md-12 col-12">
                <div style="float: right">
                  <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar()" *ngIf="!ver">
                    <span [data-feather]="'save'"></span> Guardar
                  </button>
                  &nbsp;
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelarCab()" *ngIf="!ver">
                    <span [data-feather]="'x-circle'"></span> Cancelar
                  </button>
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelarCab()" *ngIf="ver">
                    <span [data-feather]="'x-circle'"></span> Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #modalDETALLE let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Liquidación [{{codigo}}]{{ ((nroDocumento != '') ? '- N° Documento [' + nroDocumento + ']' : '')}}</h4>
            <button aria-label="Close" class="close" type="button" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" [perfectScrollbar]>
            <app-liquidaciones-detalle [dataCab]="dataCabecera" [dataDet]="dataDetalle"></app-liquidaciones-detalle>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="d-flex flex-wrap mb-0">
                <div class="p-1" *ngIf="dataCabecera.idEstado === 1">
                  <button type="button" rippleEffect class="btn btn-secondary" (click)="onCancelar(dataDetalle, modal)">
                    <i class="mr-0 mr-sm-1" data-feather="x-circle"></i> Cancelar
                  </button>
                </div>
                <div class="pt-1 pb-1" *ngIf="dataCabecera.idEstado === 1">
                  <button type="submit" rippleEffect class="btn btn-success" (click)="onConfirmarCambio(dataDetalle, modal)">
                    <i class="mr-0 mr-sm-1" data-feather="save"></i> Confirmar
                  </button>
                </div>
                <div class="p-1" *ngIf="dataCabecera.idEstado != 1">
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="modal.dismiss()">
                    <span [data-feather]="'x-circle'"></span> Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #modalAUDIT let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Auditoría - [{{codigo}}]</h4>
            <button aria-label="Close" class="close" type="button" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" [perfectScrollbar]>
            <app-audit [data]="audit"></app-audit>
          </div>
          <div class="modal-footer" style="display: block !important;">
            <div class="row">
              <div class="col-md-12 col-12">
                <div style="float: right">
                  <button class="btn btn-secondary" rippleEffect type="button" (click)="modal.dismiss()">
                    <span [data-feather]="'x-circle'"></span> Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <block-ui></block-ui>
      </div>
    </div>
  </div>
</div>
