@import '~@core/scss/angular/libs/file-uploader.component.scss';

.fila-cabecera {
  th {
    text-align: center;
  }
}

.action-color {
  background-color: rgba(116, 253, 123, 0.12) !important;
}

.audit-color {
  background-color: rgba(116, 183, 253, 0.12) !important;
}

.detail-th-color {
  background-color: rgba(252, 120, 120, 0.12) !important;
}

.row-edicion {
  background-color: lightgreen !important;
  p {
    color: white;
  }
}

.eliminado {
  text-decoration: line-through;
}

::ng-deep .my-class .modal-dialog {
  min-width: 75%;
  //width: 60%;
}

::ng-deep .my-class1 .modal-dialog {
  min-width: 60%;
  //width: 60%;
}

::ng-deep .my-class2 .modal-dialog {
  min-width: 50%;
  //width: 60%;
}

.min-width-table {
  min-width: 3000px;
}
