@import '~@core/scss/angular/libs/file-uploader.component.scss';

.detail-th-color {
  background-color: rgba(252, 120, 120, 0.12) !important;
}

.row-edicion {
  background-color: lightgreen !important;
  p {
    color: white;
  }
}

::ng-deep .my-class .modal-dialog {
  min-width: 75%;
  //width: 60%;
}

::ng-deep .my-class1 .modal-dialog {
  min-width: 60%;
  //width: 60%;
}
