<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <button class="btn btn-primary ml-1" rippleEffect (click)="onNuevo(modalINFO)">
            <i class="mr-0 mr-sm-1" data-feather="plus"></i><span
            class="d-none d-sm-inline-block">Nuevo</span>
          </button>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onRefrescar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="Buscar"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search"
                [ngModelOptions]="{ standalone: true }"
                (change)="onRefrescar()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Acción</th>
                <th>RUC</th>
                <th>Razón Social</th>
                <th>Dirección Principal</th>
                <th>Dirección Facturación</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of clientes">
                <td>
                  <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" title="Editar" (click)="onEditar(item, modalINFO)">
                      <i class="text-primary cursor-pointer" data-feather="edit"></i>
                    </a>
                    &nbsp;
                    <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(item)">
                      <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                    </a>
                  </div>
                </td>
                <td>{{item.ruc}}</td>
                <td>{{item.razonSocial}}</td>
                <td>{{item.direccionPrincipal}}</td>
                <td>{{item.direccionFacturacion}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onRefrescar()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <ng-template #modalINFO let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Gestión de Clientes</h4>
        <button aria-label="Close" class="close" type="button" (click)="onCancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0">
        <form [formGroup]="clienteForm">
          <div class="row spaced">
            <div class="col-12">
              <div class="divider divider-info">
                <div class="divider-text">Información General</div>
              </div>
            </div>
            <div class="col-md-12 col-12" hidden>
              <div class="form-group">
                <label>Id</label>
                <input class="form-control" formControlName="idCliente" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>RUC</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.ruc.errors }"
                       class="form-control" formControlName="ruc" type="text"/>
                <div *ngIf="ReactiveIUForm.ruc.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.ruc.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Razón Social</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.razonSocial.errors }"
                       class="form-control" formControlName="razonSocial" type="text"/>
                <div *ngIf="ReactiveIUForm.razonSocial.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.razonSocial.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Dirección Principal</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.direccionPrincipal.errors }"
                       class="form-control" formControlName="direccionPrincipal" type="text"/>
                <div *ngIf="ReactiveIUForm.direccionPrincipal.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.direccionPrincipal.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Dirección Facturación</label>
                <input class="form-control" formControlName="direccionFacturacion" type="text"/>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="fact" formControlName="factoring"
                  />
                  <label class="custom-control-label"
                         for="fact">Factoring</label>
                </div>
                <!--                [checked]="row.valor > 0" (change)="setValor($event.currentTarget.checked ? 1 : 0, row)-->
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="confir" formControlName="confirming"
                  />
                  <label class="custom-control-label"
                         for="confir">Confirming</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="capitalTra" formControlName="capitalTrabajo"
                  />
                  <label class="custom-control-label"
                         for="capitalTra">Capital de Trabajo</label>
                </div>
                <!--                [checked]="row.valor > 0" (change)="setValor($event.currentTarget.checked ? 1 : 0, row)-->
              </div>
            </div>
          </div>
        </form>
        <div class="row spaced">
          <div class="col-12">
            <div class="divider divider-success">
              <div class="divider-text">Gastos</div>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Gastos Factoring</label>
              <app-gastos [gastos]="gastos" [monedas]="monedas" [idTipoOperacion]="1"></app-gastos>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Gastos Confirming</label>
              <app-gastos [gastos]="gastos" [monedas]="monedas" [idTipoOperacion]="2"></app-gastos>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Gastos Capital de Trabajo</label>
              <app-gastos [gastos]="gastos" [monedas]="monedas" [idTipoOperacion]="3"></app-gastos>
            </div>
          </div>
          <div class="col-12">
            <div class="divider divider-danger">
              <div class="divider-text">Contactos</div>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Contactos</label>
              <form [formGroup]="contactoForm">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Acción</th>
                      <th>Nombre</th>
                      <th>Ape. Paterno</th>
                      <th>Ape. Materno</th>
                      <th>Teléfono</th>
                      <th>Correo</th>
                      <th>Activo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <a href="javascript:void(0)" title="Nuevo" (click)="onAgregarContacto()">
                          <i class="text-info cursor-pointer" data-feather="plus-circle"></i>
                        </a>
                      </td>
                      <td><input class="form-control" type="text" placeholder="Nombre"
                                 [ngClass]="{ 'is-invalid': submittedContacto && ReactiveIUFormContacto.nombre.errors }"
                                 formControlName="nombre"/></td>
                      <td><input class="form-control" type="text" placeholder="Ape. Paterno"
                                 formControlName="apellidoPaterno"
                                 [ngClass]="{ 'is-invalid': submittedContacto && ReactiveIUFormContacto.apellidoPaterno.errors }"/>
                      </td>
                      <td><input class="form-control" type="text" placeholder="Ape. Materno"
                                 formControlName="apellidoMaterno"
                                 [ngClass]="{ 'is-invalid': submittedContacto && ReactiveIUFormContacto.apellidoMaterno.errors }"/>
                      </td>
                      <td><input class="form-control" type="text" placeholder="Teléfono" formControlName="telefono"
                                 [ngClass]="{ 'is-invalid': submittedContacto && ReactiveIUFormContacto.telefono.errors }"/>
                      </td>
                      <td><input class="form-control" type="text" placeholder="Correo" formControlName="correo"
                                 [ngClass]="{ 'is-invalid': submittedContacto && ReactiveIUFormContacto.correo.errors }"/>
                      </td>
                      <td>
                        <div class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" class="custom-control-input"
                                 id="predeterminadoContacto" formControlName="predeterminado"
                          />
                          <label class="custom-control-label"
                                 for="predeterminadoContacto"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngFor="let item of contactos">
                      <td>
                        <div class="d-flex align-items-center">
                          <a *ngIf="!item.edicion" href="javascript:void(0)" title="Editar"
                             (click)="onEditarContacto(item)">
                            <i class="text-primary cursor-pointer" data-feather="edit"></i>
                          </a>
                          <a *ngIf="item.edicion" href="javascript:void(0)" title="Cancelar"
                             (click)="onCancelarContacto(item)">
                            <i class="text-primary cursor-pointer" data-feather="corner-up-left"></i>
                          </a>
                          &nbsp;
                          <a *ngIf="!item.edicion" href="javascript:void(0)" title="Eliminar" (click)="onEliminarContacto(item)">
                            <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                          </a>
                          <a *ngIf="item.edicion" href="javascript:void(0)" title="Confirmar cambios"
                             (click)="onConfirmarCambioContacto(item)">
                            <i class="text-success cursor-pointer" data-feather="save"></i>
                          </a>
                        </div>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.nombre}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Nombre"
                               [(ngModel)]="item.nombre"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.apellidoPaterno}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Ape. Paterno"
                               [(ngModel)]="item.apellidoPaterno"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.apellidoMaterno}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Ape. Materno"
                               [(ngModel)]="item.apellidoMaterno"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.telefono}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Teléfono"
                               [(ngModel)]="item.telefono"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.correo}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Correo"
                               [(ngModel)]="item.correo"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{(item.predeterminado ? 'Sí' : 'No')}}</p>
                        <div *ngIf="item.edicion" class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" class="custom-control-input"
                                 id="{{'predeterminadoContacto' + item.idFila}}" [(ngModel)]="item.predeterminado"
                                 [ngModelOptions]="{standalone: true}"
                          />
                          <label class="custom-control-label" for="{{'predeterminadoContacto' + item.idFila}}"></label>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12">
            <div class="divider divider-warning">
              <div class="divider-text">Información Bancaria</div>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Datos de Cuenta de Banco</label>
              <form [formGroup]="cuentaForm">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Acción</th>
                      <th>Titular</th>
                      <th>Banco</th>
                      <th>Moneda</th>
                      <th>N° Cuenta</th>
                      <th>CCI</th>
                      <th>Activo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <a href="javascript:void(0)" title="Nuevo" (click)="onAgregarCuenta()">
                          <i class="text-info cursor-pointer" data-feather="plus-circle"></i>
                        </a>
                      </td>
                      <td><input class="form-control" type="text" placeholder="Titular"
                                 formControlName="titular"/></td>
                      <td><input class="form-control" type="text" placeholder="Banco" formControlName="banco"
                                 [ngClass]="{ 'is-invalid': submittedCuenta && ReactiveIUFormCuenta.banco.errors }"/>
                      </td>
                      <td>
                        <ng-select appendTo="body" [clearable]="false" [items]="monedas" bindLabel="descripcion"
                                   placeholder="Moneda"
                                   bindValue="idColumna" formControlName="idMoneda">
                        </ng-select>
                      </td>
                      <td><input class="form-control" type="text" placeholder="N° Cuenta"
                                 [ngClass]="{ 'is-invalid': submittedCuenta && ReactiveIUFormCuenta.nroCuenta.errors }"
                                 formControlName="nroCuenta"/>
                      </td>
                      <td><input class="form-control" type="text" placeholder="CCI"
                                 formControlName="cci"/></td>
                      <td>
                        <div class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" class="custom-control-input"
                                 id="predeterminadoCuenta" formControlName="predeterminado"
                          />
                          <label class="custom-control-label"
                                 for="predeterminadoCuenta"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngFor="let item of cuentas">
                      <td>
                        <div class="d-flex align-items-center">
                          <a *ngIf="!item.edicion" href="javascript:void(0)" title="Editar"
                             (click)="onEditarCuenta(item)">
                            <i class="text-primary cursor-pointer" data-feather="edit"></i>
                          </a>
                          <a *ngIf="item.edicion" href="javascript:void(0)" title="Cancelar"
                             (click)="onCancelarCuenta(item)">
                            <i class="text-primary cursor-pointer" data-feather="corner-up-left"></i>
                          </a>
                          &nbsp;
                          <a *ngIf="!item.edicion" href="javascript:void(0)" title="Eliminar" (click)="onEliminarCuenta(item)">
                            <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                          </a>
                          <a *ngIf="item.edicion" href="javascript:void(0)" title="Confirmar cambios"
                             (click)="onConfirmarCambioCuenta(item)">
                            <i class="text-success cursor-pointer" data-feather="save"></i>
                          </a>
                        </div>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.titular}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Titular"
                               [(ngModel)]="item.titular"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.banco}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Banco"
                               [(ngModel)]="item.banco"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.moneda}}</p>
                        <ng-select appendTo="body" *ngIf="item.edicion" [clearable]="false" [items]="monedas"
                                   bindLabel="descripcion" placeholder="Moneda"
                                   bindValue="idColumna" [(ngModel)]="item.idMoneda"
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.nroCuenta}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="N° Cuenta"
                               [(ngModel)]="item.nroCuenta"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{item.cci}}</p>
                        <input *ngIf="item.edicion" class="form-control" type="text" placeholder="CCI"
                               [(ngModel)]="item.cci"
                               [ngModelOptions]="{standalone: true}"/>
                      </td>
                      <td [ngClass]="{'row-edicion': item.editado}">
                        <p *ngIf="!item.edicion">{{(item.predeterminado ? 'Sí' : 'No')}}</p>
                        <div *ngIf="item.edicion" class="custom-control custom-switch custom-control-inline">
                          <input type="checkbox" class="custom-control-input"
                                 id="{{'predeterminadoCuenta' + item.idFila}}" [(ngModel)]="item.predeterminado"
                                 [ngModelOptions]="{standalone: true}"
                          />
                          <label class="custom-control-label" for="{{'predeterminadoCuenta' + item.idFila}}"></label>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display: block !important;">
        <div class="row">
          <div class="col-md-12 col-12">
            <div style="float: right">
              <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar()">
                <span [data-feather]="'save'"></span> Guardar
              </button>
              &nbsp;
              <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()">
                <span [data-feather]="'x-circle'"></span> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <block-ui></block-ui>
  </div>
</div>
