.row-edicion {
  background-color: lightgreen !important;
  p {
    color: white;
  }
}

::ng-deep .my-class .modal-dialog {
  min-width: 60%;
  //width: 60%;
}

.min-width-table {
  min-width: 2300px;
}
