<div class="content-wrapper">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row">
        <div class="col-12" id="contenedorKPI">
          <iframe title="Dashboard_KPI" width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiYWEzYzI2ZTItZTBhYi00Y2NkLWJmMjAtNDRmZDU2ZTYxMWNmIiwidCI6IjhkMTRiNTA5LTFmM2QtNDViYS04ZWIzLTA1YTUyZmFjMTc2ZCJ9&pageName=ReportSectionfa5270c965672771b8de" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
      <block-ui></block-ui>
    </div>
  </div>