.detail-th-color {
  background-color: rgba(252, 120, 120, 0.12) !important;
}

::ng-deep .my-class .modal-dialog {
  min-width: 75%;
  //width: 60%;
}

.min-width-table {
  min-width: 3000px;
}

.progreso-td-color {
  background-color:rgba(104, 245, 171, 1);
}