<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onListar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onListar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onListar()"
              />
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form [formGroup]="tipoOperacionForm">
              <div class="table-responsive">
                <table class="table table-hover min-width-table">
                  <thead class="centerall-header">
                  <tr>
                    <th style="width: 50px">Acción</th>
                    <th>Descripción</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of tablaMaestra">
                    <td>
                      <div class="d-flex align-items-center">
                        <a *ngIf="!item.asignar" href="javascript:void(0)" title="Asignar"
                           (click)="onAsignar(item, modalASIGNACION)"
                           class="btn btn-raised btn-outline-warning btn-sm">
                          <i class="text-warning cursor-pointer" data-feather="link"></i>
                        </a>
                      </div>
                    </td>
                    <td>
                      <p title="{{item.descripcion}}" *ngIf="!item.edicion">{{item.descripcion}}</p>
                      <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Descripción"
                             [(ngModel)]="item.descripcion" [ngModelOptions]="{standalone: true }"
                             [ngClass]="{ 'is-invalid': item.descripcion === '' }"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="onListar()"
                            [maxSize]="3" [rotate]="false" [boundaryLinks]="true" [pageSize]="pageSize"
                            [ellipses]="false">
              <ng-template ngbPaginationFirst>
                <span [data-feather]="'chevrons-left'" [size]="'18'" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <span [data-feather]="'chevron-left'" [size]="'18'" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationNext>
                <span [data-feather]="'chevron-right'" [size]="'18'" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationLast>
                <span [data-feather]="'chevrons-right'" [size]="'18'" [class]="'font-weight-bolder'"></span>
              </ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>

      <ng-template #modalASIGNACION let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Asignación</h4>
          <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-asignacion [asignaciones]="tablaMaestraRelacion" [concepto]="concepto"
            [mostrarSubTipo]="mostrarSubTipo"></app-asignacion>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12 col-12">
              <div style="float: right">
                <button id="declare" class="btn btn-success" rippleEffect type="button"
                        (click)="onGuardarAsignacion(modal)">
                    <span [data-feather]="'save'"></span> Guardar
                </button>
                &nbsp;
                <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelarAsignacion(modal)">
                  <span [data-feather]="'x-circle'"></span> Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <block-ui></block-ui>
    </div>
  </div>
</div>
