<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="divider divider-info">
                  <div class="divider-text">Asignaciones</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <label class="d-flex align-items-center">
                    Mostrar
                    <select class="form-control mx-25" [(ngModel)]="pageSizeClientePagador"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onRefrescarClientePagador()">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    filas
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                  <label class="d-flex align-items-center">
                    Buscar
                    <input type="text"
                           placeholder="Buscar"
                           class="form-control ml-25"
                           [(ngModel)]="searchClientePagador"
                           [ngModelOptions]="{ standalone: true }"
                           (change)="onRefrescarClientePagador()"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form [formGroup]="clientePagadorForm">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th style="width: 5%">Acción</th>
                        <th>Cliente</th>
                        <th>Pagador</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <a href="javascript:void(0)" title="Nuevo"
                             class="btn btn-raised btn-outline-info btn-sm"
                             (click)="onAgregarClientePagador()">
                            <i class="text-info cursor-pointer" data-feather="plus-circle"></i>
                          </a>
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="text" placeholder="Cliente" readonly
                                   [ngClass]="{ 'is-invalid': submittedClientePagador && ReactiveIUFormClientePagador.clienteCustom.errors }"
                                   formControlName="clienteCustom"/>
                            <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" rippleEffect
                                      (click)="onBuscarCliente(true, modalCliente)">
                                <i data-feather="search"></i>
                              </button>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="text" placeholder="Pagador" readonly
                                   formControlName="pagadorCustom"
                                   [ngClass]="{ 'is-invalid': submittedClientePagador && ReactiveIUFormClientePagador.pagadorCustom.errors }"/>
                            <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" rippleEffect
                                      (click)="onBuscarPagador(true, modalPagador)">
                                <i data-feather="search"></i>
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr *ngFor="let item of clientePagador" class="cursor-pointer"
                          [class.selectedRow]="esFilaSeleccionaClientePagador(item.idClientePagador)"
                          (click)="onClientePagadorSeleccionado(item)">
                        <td>
                          <div class="d-flex align-items-center">
                            <a *ngIf="!item.edicion" href="javascript:void(0)" title="Editar"
                               class="btn btn-raised btn-outline-success btn-sm mr-1"
                               (click)="onEditarClientePagador(item)">
                              <i class="text cursor-pointer" data-feather="edit"></i>
                            </a>
                            <a *ngIf="item.edicion" href="javascript:void(0)" title="Cancelar"
                               class="btn btn-raised btn-outline-danger btn-sm mr-1"
                               (click)="onCancelarClientePagador(item)">
                              <i class="text cursor-pointer" data-feather="corner-up-left"></i>
                            </a>
                            <a *ngIf="!item.edicion" href="javascript:void(0)" title="Eliminar"
                               class="btn btn-raised btn-outline-danger btn-sm"
                               (click)="onEliminarClientePagador(item)">
                              <i class="text cursor-pointer" data-feather="trash-2"></i>
                            </a>
                            <a *ngIf="item.edicion" href="javascript:void(0)" title="Confirmar cambios"
                               class="btn btn-raised btn-outline-success btn-sm"
                               (click)="onConfirmarCambioClientePagador(item)">
                              <i class="text cursor-pointer" data-feather="save"></i>
                            </a>
                          </div>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.clienteCustom}}</span>
                          <div *ngIf="item.edicion" class="input-group">
                            <input class="form-control" type="text" placeholder="Cliente" readonly
                                   [(ngModel)]="item.clienteCustom"
                                   [ngModelOptions]="{standalone: true}"/>
                            <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" rippleEffect
                                      (click)="onBuscarCliente(false, modalCliente)">
                                <i data-feather="search"></i>
                              </button>
                            </div>
                          </div>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.pagadorCustom}}</span>
                          <div *ngIf="item.edicion" class="input-group">
                            <input class="form-control" type="text" placeholder="Pagador" readonly
                                   [(ngModel)]="item.pagadorCustom"
                                   [ngModelOptions]="{standalone: true}"/>
                            <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" rippleEffect
                                      (click)="onBuscarPagador(false, modalPagador)">
                                <i data-feather="search"></i>
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12 col-md-12 d-flex justify-content-end">
                <ngb-pagination [collectionSize]="collectionSizeClientePagador" [(page)]="pageClientePagador"
                                (pageChange)="onRefrescarClientePagador()"
                                [pageSize]="pageSizeClientePagador">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="divider divider-warning">
                  <div class="divider-text">Gastos</div>
                </div>
              </div>
            </div>
            <div class="row" style="display: none">
              <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <label class="d-flex align-items-center">
                    Mostrar
                    <select class="form-control mx-25" [(ngModel)]="pageSizeClientePagadorGastos"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onRefrescarClientePagadorGastos()">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    filas
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                  <label class="d-flex align-items-center">
                    Buscar
                    <input type="text"
                           placeholder="Buscar"
                           class="form-control ml-25"
                           [(ngModel)]="searchClientePagadorGastos"
                           [ngModelOptions]="{ standalone: true }"
                           (change)="onRefrescarClientePagadorGastos()"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form [formGroup]="clientePagadorGastosForm">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th style="width: 5%">Acción</th>
                        <th>Moneda</th>
                        <th>T.N.Mensual (%)</th>
                        <th>T.N.Anual (%)</th>
                        <th>T.N.Mensual Mora (%)</th>
                        <th>T.N.Anual Mora (%)</th>
                        <th>Financiamiento (%)</th>
                        <th>Comisión Estructuración (%)</th>
                        <th>Gastos Contrato</th>
                        <th>Comisión Carta Notarial</th>
                        <th>Serv. Cobranza</th>
                        <th>Serv. Custodia</th>
                        <th>Límite Gasto Neg.</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <a href="javascript:void(0)" title="Nuevo"
                             class="btn btn-raised btn-outline-info btn-sm"
                             (click)="onAgregarClientePagadorGastos()">
                            <i class="text-info cursor-pointer" data-feather="plus-circle"></i>
                          </a>
                        </td>
                        <td>
                          <ng-select appendTo="body" [clearable]="false" [items]="monedas" bindLabel="descripcion"
                                     placeholder="Moneda"
                                     bindValue="idColumna" formControlName="idMoneda">
                          </ng-select>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="T.N.M. (%)"
                                 [ngClass]="{ 'is-invalid': submittedClientePagadorGastos && ReactiveIUFormClientePagadorGastos.tasaNominalMensual.errors }"
                                 formControlName="tasaNominalMensual" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="T.N.A. (%)"
                                 formControlName="tasaNominalAnual"
                                 [ngClass]="{ 'is-invalid': submittedClientePagadorGastos && ReactiveIUFormClientePagadorGastos.tasaNominalAnual.errors }"/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="T.N.M. (%) Mora"
                                 [ngClass]="{ 'is-invalid': submittedClientePagadorGastos && ReactiveIUFormClientePagadorGastos.tasaNominalMensualMora.errors }"
                                 formControlName="tasaNominalMensualMora" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="T.N.A. (%) Mora"
                                 formControlName="tasaNominalAnualMora"
                                 [ngClass]="{ 'is-invalid': submittedClientePagadorGastos && ReactiveIUFormClientePagadorGastos.tasaNominalAnualMora.errors }"/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Financiamiento (%)"
                                 formControlName="financiamiento" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Comisión Estructuración (%)"
                                 formControlName="comisionEstructuracion" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Gastos Contrato"
                                 formControlName="gastosContrato"
                                 mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Comisión Carta Notarial"
                                 formControlName="comisionCartaNotarial" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Serv. Cobranza"
                                 formControlName="servicioCobranza" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Serv. Custodia"
                                 formControlName="servicioCustodia" mask="separator" thousandSeparator=","/>
                        </td>
                        <td>
                          <input class="form-control" type="text" placeholder="Límite Gasto Neg."
                                 formControlName="limiteGastoNegociacion" mask="separator" thousandSeparator=","/>
                        </td>
                      </tr>
                      <tr *ngFor="let item of clientePagadorGastos">
                        <td>
                          <div class="d-flex align-items-center">
                            <a *ngIf="!item.edicion" href="javascript:void(0)" title="Editar"
                               class="btn btn-raised btn-outline-success btn-sm mr-1"
                               (click)="onEditarClientePagadorGastos(item)">
                              <i class="text cursor-pointer" data-feather="edit"></i>
                            </a>
                            <a *ngIf="item.edicion" href="javascript:void(0)" title="Cancelar"
                               class="btn btn-raised btn-outline-danger btn-sm mr-1"
                               (click)="onCancelarClientePagadorGastos(item)">
                              <i class="text cursor-pointer" data-feather="corner-up-left"></i>
                            </a>
                            <a *ngIf="!item.edicion" href="javascript:void(0)" title="Eliminar"
                               class="btn btn-raised btn-outline-danger btn-sm"
                               (click)="onEliminarClientePagadorGastos(item)">
                              <i class="text cursor-pointer" data-feather="trash-2"></i>
                            </a>
                            <a *ngIf="item.edicion" href="javascript:void(0)" title="Confirmar cambios"
                               class="btn btn-raised btn-outline-success btn-sm"
                               (click)="onConfirmarCambioClientePagadorGastos(item)">
                              <i class="text cursor-pointer" data-feather="save"></i>
                            </a>
                          </div>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.moneda}}</span>
                          <ng-select appendTo="body" *ngIf="item.edicion" [clearable]="false" [items]="monedas"
                                     bindLabel="descripcion" placeholder="Moneda"
                                     bindValue="idColumna" [(ngModel)]="item.idMoneda"
                                     [ngModelOptions]="{standalone: true}">
                          </ng-select>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.tasaNominalMensual | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="T.N.M. (%)"
                                 [(ngModel)]="item.tasaNominalMensual" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.tasaNominalAnual | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="T.N.A. (%)"
                                 [(ngModel)]="item.tasaNominalAnual" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.tasaNominalMensualMora | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="T.N.M. (%)"
                                 [(ngModel)]="item.tasaNominalMensualMora" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.tasaNominalAnualMora | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="T.N.A. (%)"
                                 [(ngModel)]="item.tasaNominalAnualMora" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.financiamiento | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Financiamiento (%)"
                                 [(ngModel)]="item.financiamiento" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.comisionEstructuracion | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text"
                                 placeholder="Comisión Estructuración"
                                 [(ngModel)]="item.comisionEstructuracion" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.gastosContrato | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Gastos Contrato"
                                 [(ngModel)]="item.gastosContrato" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.comisionCartaNotarial | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text"
                                 placeholder="Comisión Carta Notarial"
                                 [(ngModel)]="item.comisionCartaNotarial" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.servicioCobranza | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Serv. Cobranza"
                                 [(ngModel)]="item.servicioCustodia" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.servicioCustodia | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Serv. Custodia"
                                 [(ngModel)]="item.servicioCustodia" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                        <td [ngClass]="{'row-edicion': item.editado}">
                          <span *ngIf="!item.edicion">{{item.limiteGastoNegociacion | number: '1.2-2'}}</span>
                          <input *ngIf="item.edicion" class="form-control" type="text" placeholder="Límite Gasto Neg."
                                 [(ngModel)]="item.limiteGastoNegociacion" mask="separator" thousandSeparator=","
                                 [ngModelOptions]="{standalone: true}"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
            <div style="visibility: collapse" class="row mt-1">
              <div class="col-12 col-md-12 d-flex justify-content-end">
                <ngb-pagination [collectionSize]="collectionSizeClientePagadorGastos"
                                [(page)]="pageClientePagadorGastos"
                                (pageChange)="onRefrescarClientePagadorGastos()"
                                [pageSize]="pageSizeClientePagadorGastos">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #modalCliente let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Seleccionar cliente</h4>
        <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">
                Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSizeCliente"
                        (change)="onRefrescarCliente()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center">
                Buscar
                <input type="search"
                       placeholder="Buscar"
                       class="form-control ml-25"
                       [(ngModel)]="searchCliente"
                       (change)="onRefrescarCliente()"/>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Razón Social</th>
                  <th>Ruc</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of clientes" class="cursor-pointer"
                    (click)="onClienteSeleccionado(item, modal)">
                  <td>{{item.razonSocial}}</td>
                  <td>{{item.ruc}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end">
            <ngb-pagination [collectionSize]="collectionSizeCliente" [(page)]="pageCliente"
                            (pageChange)="onRefrescarCliente()" [pageSize]="pageSizeCliente"></ngb-pagination>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #modalPagador let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Seleccionar pagador</h4>
        <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">
                Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSizePagador"
                        (change)="onRefrescarPagador()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas
              </label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center">
                Buscar
                <input type="search"
                       placeholder="Buscar"
                       class="form-control ml-25"
                       [(ngModel)]="searchPagador"
                       (change)="onRefrescarPagador()"/>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Razón Social</th>
                  <th>Ruc</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of pagadores" class="cursor-pointer"
                    (click)="onPagadorSeleccionado(item, modal)">
                  <td>{{item.razonSocial}}</td>
                  <td>{{item.ruc}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end">
            <ngb-pagination [collectionSize]="collectionSizePagador" [(page)]="pagePagador"
                            (pageChange)="onRefrescarPagador()" [pageSize]="pageSizePagador"></ngb-pagination>
          </div>
        </div>
      </div>
    </ng-template>

    <block-ui></block-ui>
  </div>
</div>
