<app-content-header [contentHeader]="contentHeader"></app-content-header>
<div class="card">
    <div class="card-header justify-content-start">
      <a href="javascript:void(0)" title="Regresar"
         class="d-flex align-items-center" (click)="onRegresar()">
        <i class="text-secondary cursor-pointer mr-50" data-feather="arrow-left-circle" [size]="25"></i>
      </a>
      <p class="card-title">Detalle de solicitud N° {{solicitud?.codigo}}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="d-flex align-items-center mb-1">
            <label class="mt-1">Mostrar {{solicitud?.solicitudDet.length ?? 0}} filas</label>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-md-end">
          <div class="d-flex align-items-center justify-content-end mb-1">
            <label class="d-flex align-items-center"
            >Buscar<input
              type="search"
              placeholder="Buscar"
              class="form-control ml-25"
              (change)="onBuscar($event)"
            /></label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="solicitud.idEstado === 1">
        <div class="d-flex flex-wrap mb-0">
          <div class="pl-1 pt-1 pb-1">
            <button type="submit" rippleEffect class="btn btn-success" (click)="onGuardarCambios(solicitud)">
              <i class="mr-0 mr-sm-1" data-feather="save"></i>
              <span class="d-none d-sm-inline-block">Guardar Cambios</span>
            </button>
          </div>
          <div class="p-1">
            <button type="submit" rippleEffect class="btn btn-secondary" (click)="onDeshacerCambios()">
              <i class="mr-0 mr-sm-1" data-feather="corner-up-left"></i>
              <span class="d-none d-sm-inline-block">Deshacer Cambios</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row pl-1 pb-1">

      </div>
      <div class="row">
        <div class="table-responsive"
             id="{{ 'detail' + solicitud.idSolicitudCab }}">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="detail-th-color"
                  [colSpan]="solicitud.idTipoOperacion === 3 ? 13 : 11">
                Total de elementos: {{solicitud.solicitudDet.length}}
              </th>
            </tr>
            <tr>
              <th class="detail-th-color">N°</th>
              <th class="detail-th-color">Acción</th>
              <th *ngIf="solicitud.idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
              <th *ngIf="solicitud.idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
              <th class="detail-th-color">N° Documento</th>
              <th class="detail-th-color">Forma Pago</th>
              <th class="detail-th-color">Monto sin IGV</th>
              <th class="detail-th-color">Monto con IGV</th>
              <th class="detail-th-color">Fecha Pago</th>
              <th class="detail-th-color">Monto Pago Confirmado</th>
              <th class="detail-th-color">Fondo Resguardo</th>
              <th class="detail-th-color">Archivo PDF</th>
              <th class="detail-th-color">Archivo XML</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of solicitud.solicitudDet; index as i">
              <td>{{i + 1}}</td>
              <td>
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(solicitud, item)"
                     class="btn btn-raised btn-outline-danger btn-sm">
                    <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                  </a>
                </div>
              </td>
              <td [ngClass]="{'row-edicion': item.editado }"
                  *ngIf="solicitud.idTipoOperacion === 3">{{item.razonSocialPagProv}}</td>
              <td [ngClass]="{'row-edicion': item.editado }"
                  *ngIf="solicitud.idTipoOperacion === 3">{{item.rucPagProv}}</td>
              <td [ngClass]="{'row-edicion': item.editado }">
                <p>{{item.nroDocumento}}</p></td>
              <td [ngClass]="{'row-edicion': item.editado }">
                <p>{{item.formaPago}}</p></td>
              <td [ngClass]="{'row-edicion': item.editado }">
                <p>{{item.montoSinIGV | number: '1.2-2'}}</p></td>
              <td [ngClass]="{'row-edicion': item.editado }">
                <p>{{item.montoConIGV | number: '1.2-2'}}</p></td>
              <td>
                <p *ngIf="solicitud.idEstado != 1">{{item.fechaConfirmadoFormat}}</p>
                <div *ngIf="solicitud.idEstado === 1" class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         [minDate]="fechaMinima"
                         [(ngModel)]="item.fechaConfirmado" container="body"
                         (ngModelChange)="onCambiarFechaConfirmado($event, item)"
                         ngbDatepicker #basicDP="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDP.toggle()"
                            type="button" rippleEffect></button>
                  </div>
                </div>
              </td>
              <td>
                <p *ngIf="solicitud.idEstado != 1">{{item.netoConfirmado | number: '1.2-2'}}</p>
                <input *ngIf="solicitud.idEstado === 1" class="form-control" type="text"
                       [(ngModel)]="item.netoConfirmado"
                       placeholder="0.00" (ngModelChange)="onCambiarMontoConfirmado(item, solicitud)"
                       [ngClass]="{ 'is-invalid': item.netoConfirmado > item.montoConIGV }"
                       mask="separator" thousandSeparator=","/>
                <div *ngIf="item.netoConfirmado > item.montoConIGV" class="invalid-feedback">
                  <div *ngIf="item.netoConfirmado > item.montoConIGV">* El monto no debe ser mayor
                    a {{ item.montoConIGV | number: '1.2-2' }}</div>
                </div>
              </td>
              <td [ngClass]="{'row-edicion': item.editado }">
                <p>{{item.fondoResguardo | number: '1.2-2'}}</p>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <a href="{{item.rutaArchivoPDF}}" title="{{ item.archivoPDF }}" target="_blank"
                     class="btn btn-raised btn-outline-info btn-sm">
                    <i class="fa fa-file-pdf-o"></i>
                  </a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <a href="{{item.rutaArchivoXML}}" title="{{ item.archivoXML }}" target="_blank"
                     class="btn btn-raised btn-outline-secondary btn-sm">
                    <i class="fa fa-file-code-o"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>