<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button class="btn btn-primary" rippleEffect (click)="onNuevo(modalINFO)">
                <i class="mr-0 mr-sm-1" data-feather="plus"></i><span
                class="d-none d-sm-inline-block">Nuevo</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onRefrescar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onRefrescar()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead>
                <tr>
                  <th>Acción</th>
                  <th>RUC</th>
                  <th>Razón Social</th>
                  <th>Línea Asignada</th>
                  <th>Sector</th>
                  <th>Grupo Económico</th>
                  <th>Contacto</th>
                  <th>Teléfono</th>
                  <th>Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of pagador">
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Editar" (click)="onEditar(item, modalINFO)"
                         class="btn btn-raised btn-outline-success btn-sm">
                        <i class="text-success cursor-pointer" data-feather="edit"></i>
                      </a>
                      &nbsp;
                      <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(item)"
                         class="btn btn-raised btn-outline-danger btn-sm">
                        <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                      </a>
                    </div>
                  </td>
                  <td>{{item.ruc}}</td>
                  <td>{{item.razonSocial}}</td>
                  <td>{{item.limiteGastoNegociacion | number: '1.0-0'}}</td>
                  <td>{{item.sector}}</td>
                  <td>{{item.grupoEconomico}}</td>
                  <td>{{item.contacto}}</td>
                  <td>{{item.telefono}}</td>
                  <td>{{item.correo}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onRefrescar()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <ng-template #modalINFO let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Gestión de Pagador</h4>
        <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0" >
        <form [formGroup]="pagadorForm">
          <div class="row spaced">
            <div class="col-12">
              <div class="divider divider-info">
                <div class="divider-text">Información General</div>
              </div>
            </div>
            <div class="col-md-12 col-12" hidden>
              <div class="form-group">
                <label>Id</label>
                <input class="form-control" formControlName="idPagador" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>RUC</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.ruc.errors }"
                       class="form-control" formControlName="ruc" type="text"/>
                <div *ngIf="ReactiveIUForm.ruc.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.ruc.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Razón Social</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.razonSocial.errors }"
                       class="form-control" formControlName="razonSocial" type="text"/>
                <div *ngIf="ReactiveIUForm.razonSocial.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.razonSocial.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Sector</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.sector.errors }"
                       class="form-control" formControlName="sector" type="text"/>
                <div *ngIf="ReactiveIUForm.sector.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.sector.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Grupo Económico</label>
                <input class="form-control" formControlName="grupoEconomico" type="text"/>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Contacto</label>
                <input class="form-control" formControlName="contacto" type="text"
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.contacto.errors }"/>
                <div *ngIf="ReactiveIUForm.contacto.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.contacto.errors?.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Teléfono</label>
                <input class="form-control" formControlName="telefono" type="text" />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Correo</label>
                <input class="form-control" formControlName="correo" type="text"
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.correo.errors }"/>
                <div *ngIf="ReactiveIUForm.correo.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.correo.errors?.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Línea Asignada</label>
                <input [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.limiteGastoNegociacion.errors }"
                       class="form-control" formControlName="limiteGastoNegociacion" type="number"/>
                <div *ngIf="ReactiveIUForm.limiteGastoNegociacion.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.limiteGastoNegociacion.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="display: block !important;">
        <div class="row">
          <div class="col-md-12 col-12">
            <div style="float: right">
              <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar()">
                <span [data-feather]="'save'"></span> Guardar
              </button>
              &nbsp;
              <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()">
                <span [data-feather]="'x-circle'"></span> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <block-ui></block-ui>
  </div>
</div>
