<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button class="btn btn-primary" rippleEffect
                      [routerLink]="['/comercial/solicitudes/solicitudes-form']"
                      skipLocationChange [queryParams]="" queryParamsHandling="merge">
                <i class="mr-0 mr-sm-1" data-feather="plus"></i><span class="d-none d-sm-inline-block">Nueva(s)
                  Solicitud(es)</span>
              </button>
            </div>
          </div>
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Factoring</a>
            <ng-template ngbNavContent>
              <app-solicitudes-grilla [paramsURL]="1"></app-solicitudes-grilla>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Capital de Trabajo</a>
            <ng-template ngbNavContent>
              <app-solicitudes-grilla [paramsURL]="2"></app-solicitudes-grilla>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Confirming</a>
            <ng-template ngbNavContent>
              <app-solicitudes-grilla [paramsURL]="3"></app-solicitudes-grilla>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <block-ui></block-ui>
  </div>
</div>
