<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Factroing y Confirming</a>
            <ng-template ngbNavContent>
              <app-solicitudes-grilla [paramsURL]="1"></app-solicitudes-grilla>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Capital de Trabajo</a>
            <ng-template ngbNavContent>
              <app-solicitudes-grilla [paramsURL]="2"></app-solicitudes-grilla>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <block-ui></block-ui>
  </div>
</div>
