<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1 pr-1">
              <button type="submit" rippleEffect class="btn btn-primary" (click)="onRegistrarFacturas(4)">
                <i class="mr-0 mr-sm-1" data-feather="send"></i>
                <span class="d-none d-sm-inline-block">Registrar Factura(s)</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button type="submit" rippleEffect class="btn btn-info" (click)="onRegistrarFacturas(3)">
                <i class="mr-0 mr-sm-1" data-feather="send"></i>
                <span class="d-none d-sm-inline-block">Registrar y Anotar Factura(s)</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onRefrescar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onRefrescar()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Ocultar / Mostrar"
                         (click)="onCambiarVisibilidadDetalleTodo()">
                        <div *ngIf="!cambiarIcono">
                          <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                        </div>
                        <div *ngIf="cambiarIcono"><i class="text-primary cursor-pointer"
                                                     data-feather="chevron-down"></i>
                        </div>
                      </a>
                    </div>
                  </th>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck" unchecked
                             [(ngModel)]="seleccionarTodo" (ngModelChange)="onSeleccionarTodo()"/>
                      <label class="custom-control-label" for="customCheck"></label>
                    </div>
                  </th>
                  <th>N° Solicitud</th>
                  <th>Cliente</th>
                  <th>Cliente RUC</th>
                  <th>Pagador / Proveedor</th>
                  <th>Pagador / Proveedor RUC</th>
                  <th>Moneda</th>
                  <th>Tipo Operación</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <ng-template let-cab ngFor [ngForOf]="solicitudes">
                  <!--                  *ngFor="let item of solicitudes"-->
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Ocultar / Mostrar"
                           (click)="onCambiarVisibilidadDetalle(cab)">
                          <div *ngIf="!cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                          </div>
                          <div *ngIf="cab.cambiarIcono"><i class="text-primary cursor-pointer"
                                                           data-feather="chevron-down"></i>
                          </div>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{'customCheck' + cab.idSolicitudCab}}"
                               [(ngModel)]="cab.seleccionado" (ngModelOptions)="{ standalone: true }"/>
                        <label class="custom-control-label" for="{{'customCheck' + cab.idSolicitudCab}}"></label>
                      </div>
                    </td>
                    <td>{{cab.codigo}}</td>
                    <td>{{cab.razonSocialCliente}}</td>
                    <td>{{cab.rucCliente}}</td>
                    <td>{{cab.razonSocialPagProv}}</td>
                    <td>{{cab.rucPagProv}}</td>
                    <td>{{cab.moneda}}</td>
                    <td>{{cab.tipoOperacion}}</td>
                    <td>{{cab.estado}}</td>
                  </tr>
                  <tr id="{{ 'tr' + cab.idSolicitudCab }}" style="visibility: collapse">
                    <td [colSpan]="11">
                      <div class="row">
                        <div class="d-flex flex-wrap mb-0">
                          <div class="pl-1 pt-1 pb-1">
                            <button type="submit" rippleEffect class="btn btn-success" (click)="onGuardarCambios(cab)">
                              <i class="mr-0 mr-sm-1" data-feather="save"></i>
                              <span class="d-none d-sm-inline-block">Guardar Cambios</span>
                            </button>
                          </div>
                          <div class="p-1">
                            <button type="submit" rippleEffect class="btn btn-secondary" (click)="onDeshacerCambios()">
                              <i class="mr-0 mr-sm-1" data-feather="corner-up-left"></i>
                              <span class="d-none d-sm-inline-block">Deshacer Cambios</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="table-responsive" style="padding-left: 20px; display: none;"
                             id="{{ 'detail' + cab.idSolicitudCab }}">
                          <table class="table table-hover">
                            <thead>
                            <tr>
                              <th class="detail-th-color">Acción</th>
                              <th class="detail-th-color">N° Documento</th>
                              <th class="detail-th-color">Forma Pago</th>
                              <th class="detail-th-color">Monto sin IGV</th>
                              <th class="detail-th-color">Monto con IGV</th>
                              <th class="detail-th-color">Fecha Pago</th>
                              <th class="detail-th-color">Monto Pago Confirmado</th>
                              <th class="detail-th-color">Fondo Resguardo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of cab.solicitudDet">
                              <td>
                                <div class="d-flex align-items-center">
                                  <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(cab, item)"
                                     class="btn btn-raised btn-outline-danger btn-sm">
                                    <i class="text-danger cursor-pointer" data-feather="trash-2"></i>
                                  </a>
                                  &nbsp;
                                  <a href="javascript:void(0)" title="Ver Respuesta"
                                     popoverTitle="Respuesta Cavali"
                                     [ngbPopover]="respuestaCavali" [autoClose]="true" triggers="manual"
                                     #manualOpen="ngbPopover" (click)="onVerRespuesta(cab, item, manualOpen)"
                                     class="btn btn-raised btn-outline-info btn-sm">
                                    <i class="text-info cursor-pointer" data-feather="eye"></i>
                                  </a>
                                </div>
                              </td>
                              <td [ngClass]="{'row-edicion': item.editado, 'row-error-cavali': ((cab.idTipoRegistro === 1 && item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') ||
                                    (cab.idTipoRegistro === 2 && ((item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') || (item.codigoRespuestaAnotacion != '0' && item.codigoRespuestaAnotacion != ''))))}">
                                <p>{{item.nroDocumento}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado, 'row-error-cavali': ((cab.idTipoRegistro === 1 && item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') ||
                                    (cab.idTipoRegistro === 2 && ((item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') || (item.codigoRespuestaAnotacion != '0' && item.codigoRespuestaAnotacion != ''))))}">
                                <p>{{item.formaPago}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado, 'row-error-cavali': ((cab.idTipoRegistro === 1 && item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') ||
                                    (cab.idTipoRegistro === 2 && ((item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') || (item.codigoRespuestaAnotacion != '0' && item.codigoRespuestaAnotacion != ''))))}">
                                <p>{{item.montoSinIGV | number: '1.2-2'}}</p></td>
                              <td [ngClass]="{'row-edicion': item.editado, 'row-error-cavali': ((cab.idTipoRegistro === 1 && item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') ||
                                    (cab.idTipoRegistro === 2 && ((item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') || (item.codigoRespuestaAnotacion != '0' && item.codigoRespuestaAnotacion != ''))))}">
                                <p>{{item.montoConIGV | number: '1.2-2'}}</p></td>
                              <td>
                                <div class="input-group">
                                  <input class="form-control" placeholder="yyyy-mm-dd"
                                         [(ngModel)]="item.fechaConfirmado" container="body"
                                         (ngModelChange)="onCambiarFechaConfirmado($event, item)"
                                         ngbDatepicker #basicDP="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary feather icon-calendar"
                                            (click)="basicDP.toggle()"
                                            type="button" rippleEffect></button>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <input class="form-control" type="text" [(ngModel)]="item.netoConfirmado"
                                       placeholder="0.00" (ngModelChange)="onCambiarMontoConfirmado(item, cab)"
                                       mask="separator" thousandSeparator=","/>
                              </td>
                              <td [ngClass]="{'row-edicion': item.editado, 'row-error-cavali': ((cab.idTipoRegistro === 1 && item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') ||
                                    (cab.idTipoRegistro === 2 && ((item.codigoRespuestaCavali != '0' && item.codigoRespuestaCavali != '') || (item.codigoRespuestaAnotacion != '0' && item.codigoRespuestaAnotacion != ''))))}">
                                <p>{{item.fondoResguardo | number: '1.2-2'}}
                                </p></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onRefrescar()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <ng-template #respuestaCavali>
      <div>Cavali: {{codigoRespuestaCavali}}</div>
      <div *ngIf="idTipoRegistro === 2">Anotación: {{codigoRespuestaAnotacion}}</div>
    </ng-template>
    <block-ui></block-ui>
  </div>
</div>
