.detail-th-color {
    background-color: rgba(252, 120, 120, 0.12) !important;
}

.row-edicion {
  background-color: lightgreen !important;
  p {
    color: white;
  }
}

::ng-deep .my-class .modal-dialog {
  min-width: 60%;
  //width: 60%;
}

//.row-error-cavali {
//  background-color: red !important;
//  p {
//    color: white;
//  }
//}

.min-width-table {
  min-width: 2100px;
}
