.echarts__demo {
    height: 100%;
    width: 100%;
}

.barra_P {
    height: 600px;
    width: 100%;
}

.barra_M {
    height: 600px;
    width: 100%;
}

.barra_L {
    height: 800px;
    width: 100%;
}