<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button type="submit" rippleEffect class="btn btn-success" (click)="onAprobar(5)">
                <i class="mr-0 mr-sm-1" data-feather="check"></i>
                <span class="d-none d-sm-inline-block">Enviar</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onRefrescar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onRefrescar()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead>
                <tr>
                  <th>
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Ocultar / Mostrar"
                         (click)="onCambiarVisibilidadDetalleTodo()">
                        <div *ngIf="!cambiarIcono">
                          <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                        </div>
                        <div *ngIf="cambiarIcono"><i class="text-primary cursor-pointer"
                                                     data-feather="chevron-down"></i>
                        </div>
                      </a>
                    </div>
                  </th>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck" unchecked
                             [(ngModel)]="seleccionarTodo" (ngModelChange)="onSeleccionarTodo()"/>
                      <label class="custom-control-label" for="customCheck"></label>
                    </div>
                  </th>
                  <th>Acción</th>
                  <th>N° Solicitud</th>
                  <th>Tipo Operación</th>
                  <th>Cliente</th>
                  <th>Cliente RUC</th>
                  <th>Pagador / Proveedor</th>
                  <th>Pagador / Proveedor RUC</th>
                  <th>Moneda</th>
                  <th>Estado</th>
                  <th>Observación rechazo</th>
                </tr>
                </thead>
                <tbody>
                <ng-template let-cab ngFor [ngForOf]="solicitudes">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center" *ngIf="cab.idTipoOperacion != 2">
                        <a href="javascript:void(0)" title="Ocultar / Mostrar"
                           (click)="onCambiarVisibilidadDetalle(cab)">
                          <div *ngIf="!cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                          </div>
                          <div *ngIf="cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-down"></i>
                          </div>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{'customCheck' + cab.idSolicitudCab}}"
                               [disabled]="!cab.checkList"
                               [(ngModel)]="cab.seleccionado" (ngModelOptions)="{ standalone: true }"/>
                        <label class="custom-control-label" for="{{'customCheck' + cab.idSolicitudCab}}"></label>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Editar" (click)="onEditar(cab, modalINFO)"
                           class="btn btn-raised btn-outline-success btn-sm">
                          <i class="text-success cursor-pointer" data-feather="edit"></i>
                        </a>
                      </div>
                    </td>
                    <td [ngClass]="{'solicitudRechazo': cab.observacionRechazo != ''}">{{cab.codigo}}</td>
                    <td>{{cab.tipoOperacion}}</td>
                    <td>{{cab.razonSocialCliente}}</td>
                    <td>{{cab.rucCliente}}</td>
                    <td>{{cab.razonSocialPagProv}}</td>
                    <td>{{cab.rucPagProv}}</td>
                    <td>{{cab.moneda}}</td>
                    <td>{{cab.estado}}</td>
                    <td>{{cab.observacionRechazo}}</td>
                  </tr>
                  <tr id="{{ 'tr' + cab.idSolicitudCab }}" style="visibility: collapse" *ngIf="cab.solicitudDet.length > 0">
                    <td [colSpan]="11">
                      <div class="table-responsive" style="padding-left: 20px; display: none; max-height: 300px; overflow-x: hidden"
                           id="{{ 'detail' + cab.idSolicitudCab }}" >
                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
                            <th class="detail-th-color">N° Documento</th>
                            <th class="detail-th-color">Forma Pago</th>
                            <th class="detail-th-color">Monto sin IGV</th>
                            <th class="detail-th-color">Monto con IGV</th>
                            <th class="detail-th-color">Fondo Resguardo</th>
                            <th class="detail-th-color">Fecha Pago</th>
                            <th class="detail-th-color">Monto Pago Confirmado</th>
                            <th class="detail-th-color">Estado</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of cab.solicitudDet">
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.razonSocialPagProv}}</td>
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.rucPagProv}}</td>
                            <td>{{item.nroDocumento}}</td>
                            <td>{{item.formaPago}}</td>
                            <td>{{item.montoSinIGV | number: '1.2-2'}}</td>
                            <td>{{item.montoConIGV | number: '1.2-2'}}</td>
                            <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                            <td>{{item.fechaConfirmadoFormat}}</td>
                            <td>{{item.netoConfirmado | number: '1.2-2'}}</td>
                            <td>{{item.estado}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onRefrescar()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <ng-template #modalINFO let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Check List - [{{codigo}}]</h4>
        <button aria-label="Close" class="close" type="button" (click)="onCancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0" >
        <form [formGroup]="solicitudForm">
          <div class="row spaced">
            <div class="col-12">
              <div class="divider divider-info">
                <div class="divider-text">Información General</div>
              </div>
            </div>
            <div class="col-md-12 col-12" hidden>
              <div class="form-group">
                <label>Id</label>
                <input class="form-control" formControlName="idSolicitudCab" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>RUC (Cliente)</label>
                <input class="form-control" formControlName="rucCliente" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Razón Social (Cliente)</label>
                <input class="form-control" formControlName="razonSocialCliente" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>RUC (Pagador / Proveedor)</label>
                <input class="form-control" formControlName="rucPagProv" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Razón Social (Pagador / Proveedor)</label>
                <input class="form-control" formControlName="razonSocialPagProv" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Moneda</label>
                <input class="form-control" formControlName="moneda" type="text"/>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Tipo Operación</label>
                <input class="form-control" formControlName="tipoOperacion" type="text"/>
              </div>
            </div>
            <div *ngIf="solicitudForm.controls.idTipoOperacion.value == 3" class="col-md-6 col-12">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="flagPagoInteresAdelantado" formControlName="flagPagoInteresAdelantado"/>
                  <label class="custom-control-label"
                         for="flagPagoInteresAdelantado">Pago adelantado de intereses y gastos</label>
                </div>
                <!--                [checked]="row.valor > 0" (change)="setValor($event.currentTarget.checked ? 1 : 0, row)-->
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group" style="background-color: transparent">
                <label>Tipo</label>
                <ng-select appendTo="body" [clearable]="false" [items]="tipoCT" [(ngModel)]="idTipoCT"
                           bindLabel="descripcion" bindValue="idColumna" formControlName="idTipoCT">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Monto</label>
                <input class="form-control" formControlName="montoCT" type="text"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Monto Solicitud</label>
                <input class="form-control" formControlName="montoSolicitudCT" type="text"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Día(s) Préstamo</label>
                <input class="form-control" formControlName="diasPrestamoCT" type="text"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Fecha Pago</label>
                <input class="form-control" formControlName="fechaPagoCT" type="text"/>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-success">
                <div class="divider-text">Información de Gastos</div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-wrap mb-0">
                <div class="pb-1">
                  <button type="submit" rippleEffect class="btn btn-success" (click)="onActualizar()">
                    <i class="mr-0 mr-sm-1" data-feather="refresh-ccw"></i>
                    <span class="d-none d-sm-inline-block">Actualizar</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tasa Nominal Mensual (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="tasaNominalMensual"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tasa Nominal Anual (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="tasaNominalAnual"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tasa Nominal Mensual Mora (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="tasaNominalMensualMora"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tasa Nominal Anual Mora (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="tasaNominalAnualMora"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Financiamiento (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="financiamiento"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Comisión Estructuración (%)</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="comisionEstructuracion"/>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="usoGC" formControlName="usarGastosContrato"
                  />
                  <label class="custom-control-label"
                         for="usoGC">Aplicar Gastos de Contrato</label>
                </div>
                <!--                [checked]="row.valor > 0" (change)="setValor($event.currentTarget.checked ? 1 : 0, row)-->
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input"
                         id="usoGVP" formControlName="usarGastoVigenciaPoder"
                  />
                  <label class="custom-control-label"
                         for="usoGVP">Aplicar Gasto Vigencia de Poder</label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Gastos de Contrato</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="gastosContrato"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Gasto Vigencia de Poder</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="gastoVigenciaPoder"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Comisión Carta Notarial</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="comisionCartaNotarial"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Servicio Cobranza</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="servicioCobranza"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Servicio Custodia</label>
                <input class="form-control" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator="," formControlName="servicioCustodia"/>
              </div>
            </div>

            <div class="col-12" [hidden]="idTipoOperacion != 2">
              <div class="divider divider-danger">
                <div class="divider-text">Monto calculado</div>
              </div>
            </div>
            <div class="col-md-6 col-12"  [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Fondo Resguardo</label>
                <input class="form-control" formControlName="fondoResguardo" type="text" placeholder="0.00"
                      mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Monto a financiar</label>
                <input class="form-control"  formControlName="netoSolicitado" type="text" placeholder="0.00"
                        mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Intereses incluido IGV</label>
                <input class="form-control" formControlName="interesIncluidoIGV" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>

            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Gastos incluido IGV</label>
                <input class="form-control" formControlName="gastosIncluidoIGV" type="text'" placeholder="0.00"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Total a Facturar</label>
                <input class="form-control" formControlName="totalFacturarIGV" type="text" placeholder="0.00"
                      mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-md-6 col-12" [hidden]="idTipoOperacion != 2">
              <div class="form-group">
                <label>Total a Desembolsar</label>
                <input class="form-control" formControlName="totalDesembolso" type="text" placeholder="0.00"
                       mask="separator" thousandSeparator=","/>
              </div>
            </div>
            <div class="col-12" [hidden]="idTipoOperacion === 2">
              <div class="table-responsive" style="max-height: 300px;">
                <table class="table table-hover" [ngStyle]="{ 'min-width.px': idTipoOperacion === 3 ? 3200 : 'auto' }">
                  <thead>
                  <tr *ngIf="idTipoOperacion === 3">
                    <th colspan="12" class="detail-th-color">Información del Comprobante</th>
                    <th colspan="5" class="detail-th-color2">Información Bancaria</th>
                  </tr>
                  <tr>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
                    <th class="detail-th-color">N° Documento</th>
                    <th class="detail-th-color">Forma Pago</th>
                    <th class="detail-th-color">Monto sin IGV</th>
                    <th class="detail-th-color">Monto con IGV</th>
                    <th class="detail-th-color">Fecha Pago</th>
                    <th class="detail-th-color">Monto Pago Confirmado</th>
                    <th class="detail-th-color">Fondo Resguardo</th>
                    <th class="detail-th-color">Estado</th>
                    <th class="detail-th-color">Archivo PDF</th>
                    <th class="detail-th-color">Archivo XML</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Moneda</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Banco</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">N° Cuenta</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">CCI</th>
                    <th *ngIf="idTipoOperacion === 3" class="detail-th-color2">Tipo Cuenta</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of detalle">
                    <td *ngIf="idTipoOperacion === 3">{{item.razonSocialPagProv}}</td>
                    <td *ngIf="idTipoOperacion === 3">{{item.rucPagProv}}</td>
                    <td>{{item.nroDocumento}}</td>
                    <td>{{item.formaPago}}</td>
                    <td>{{item.montoSinIGV | number: '1.2-2'}}</td>
                    <td>{{item.montoConIGV | number: '1.2-2'}}</td>
                    <td>{{item.fechaConfirmadoFormat}}</td>
                    <td>{{item.netoConfirmado | number: '1.2-2'}}</td>
                    <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                    <td>{{item.estado}}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="{{item.rutaArchivoPDF}}" title="{{ item.archivoPDF }}" target="_blank"
                           class="btn btn-raised btn-outline-info btn-sm">
                          <i class="fa fa-file-pdf-o"></i>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="{{item.rutaArchivoXML}}" title="{{ item.archivoXML }}" target="_blank"
                           class="btn btn-raised btn-outline-secondary btn-sm">
                          <i class="fa fa-file-code-o"></i>
                        </a>
                      </div>
                    </td>
                    <td *ngIf="idTipoOperacion === 3">{{item.monedaCuentaBancariaDestino}}</td>
                    <td *ngIf="idTipoOperacion === 3">{{item.bancoDestino}}</td>
                    <td *ngIf="idTipoOperacion === 3">{{item.nroCuentaBancariaDestino}}</td>
                    <td *ngIf="idTipoOperacion === 3">{{item.cciDestino}}</td>
                    <td *ngIf="idTipoOperacion === 3">{{item.tipoCuentaBancariaDestino}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-danger">
                <div class="divider-text">Información del Contacto</div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex flex-wrap mb-0">
                <div class="pb-1">
                  <button type="submit" rippleEffect class="btn btn-danger"
                          (click)="onSeleccioneContacto(modalCONTACTO)">
                    <i class="mr-0 mr-sm-1" data-feather="arrow-right-circle"></i>
                    <span class="d-none d-sm-inline-block">Seleccione...</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Nombre(s) y Apellidos</label>
                <input class="form-control" [(ngModel)]="nombreContacto" [ngModelOptions]="{standalone: true}" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && nombreContacto === '' }"/>
                <div *ngIf="nombreContacto === ''" class="invalid-feedback">
                  <div *ngIf="nombreContacto === ''">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Teléfono</label>
                <input class="form-control" [(ngModel)]="telefonoContacto" [ngModelOptions]="{standalone: true}" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && telefonoContacto === '' }"/>
                <div *ngIf="telefonoContacto === ''" class="invalid-feedback">
                  <div *ngIf="telefonoContacto === ''">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Correo</label>
                <input class="form-control" [(ngModel)]="correoContacto" [ngModelOptions]="{standalone: true}" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && correoContacto === ''}"/>
                <div *ngIf="correoContacto === ''" class="invalid-feedback">
                  <div *ngIf="correoContacto === ''">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Correo(s) a Copiar</label>
                <input class="form-control" formControlName="conCopiaContacto" type="text"/>
              </div>
            </div>
            <div class="col-12" *ngIf="idTipoOperacion != 3">
              <div class="divider divider-warning">
                <div class="divider-text">Información de Cuenta Bancaria</div>
              </div>
            </div>
            <div class="col-12" *ngIf="idTipoOperacion != 3">
              <div class="d-flex flex-wrap mb-0">
                <div class="pb-1">
                  <button type="submit" rippleEffect class="btn btn-warning" (click)="onSeleccioneCuenta(modalCUENTA)" [disabled]="idTipoOperacion === 3">
                    <i class="mr-0 mr-sm-1" data-feather="arrow-right-circle"></i>
                    <span class="d-none d-sm-inline-block">Seleccione...</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>Titular</label>
                <input class="form-control" formControlName="titularCuentaBancariaDestino" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.titularCuentaBancariaDestino.errors }"/>
                <div *ngIf="ReactiveIUForm.titularCuentaBancariaDestino.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.titularCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>Moneda</label>
                <input class="form-control" formControlName="monedaCuentaBancariaDestino" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.monedaCuentaBancariaDestino.errors }"/>
                <div *ngIf="ReactiveIUForm.monedaCuentaBancariaDestino.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.monedaCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>Banco</label>
                <input class="form-control" formControlName="bancoDestino" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.bancoDestino.errors }"/>
                <div *ngIf="ReactiveIUForm.bancoDestino.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.bancoDestino.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>N° Cuenta</label>
                <input class="form-control" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && nroCuentaBancariaDestino === '' && cciDestino === '' }"
                       [(ngModel)]="nroCuentaBancariaDestino" [ngModelOptions]="{standalone: true}"/>
                <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''" class="invalid-feedback">
                  <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''">* Campo obligatorio solo si no
                    existe un valor en CCI
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>CCI</label>
                <input class="form-control" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && nroCuentaBancariaDestino === '' && cciDestino === '' }"
                       [(ngModel)]="cciDestino" [ngModelOptions]="{standalone: true}"/>
                <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''" class="invalid-feedback">
                  <div *ngIf="nroCuentaBancariaDestino === '' && cciDestino === ''">* Campo obligatorio solo si no
                    existe un valor en N° Cuenta
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="idTipoOperacion != 3">
              <div class="form-group">
                <label>Tipo de Cuenta</label>
                <input class="form-control" formControlName="tipoCuentaBancariaDestino" type="text" readonly
                       [ngClass]="{ 'is-invalid': submitted && ReactiveIUForm.tipoCuentaBancariaDestino.errors }"/>
                <div *ngIf="ReactiveIUForm.tipoCuentaBancariaDestino.errors" class="invalid-feedback">
                  <div *ngIf="ReactiveIUForm.tipoCuentaBancariaDestino.errors.required">* Campo obligatorio</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-secondary">
                <div class="divider-text">Documento(s) de Sustento</div>
              </div>
            </div>
            <div class="col-12">
              <div
                ng2FileDrop
                [ngClass]="{ 'file-drop-over': hasBaseDropZoneOver }"
                (fileOver)="fileOverBase($event)"
                [uploader]="archivosSustento"
                class="py-5 mb-3 text-center font-medium-5 text-uppercase file-drop-zone"
              >
                Arrastre aquí los archivos
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-between mb-1">
                <h4>Archivo(s) a subir</h4>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th [width]="250">Tipo</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Acción</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of archivos">
                    <td [width]="250">
                      <ng-select appendTo="body" [clearable]="false" [items]="tiposArchivos"
                                 style="width: 250px"
                                 bindLabel="descripcion" placeholder="Tipo Archivo"
                                 bindValue="idColumna" [(ngModel)]="item.idTipo"
                                 [ngModelOptions]="{standalone: true}">
                      </ng-select>
                    </td>
                    <td>
                      <strong>{{ item.nombre }}</strong>
                    </td>
                    <td>
                      {{item.tamanio}}
                    </td>
                    <td nowrap>
                      <button
                        (click)="onEliminarArchivo(item)"
                        type="button"
                        class="btn btn-raised btn-outline-danger btn-sm"
                        rippleEffect>
                        <i data-feather="trash"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              <div class="divider divider-secondary">
                <div class="divider-text"><span [data-feather]="'chevrons-down'"></span></div>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-between mb-1">
                <h4>Archivo(s) adjuntos</h4>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of sustentos">
                    <td [ngClass]="{'row-edicion': item.editado}"><p [ngClass]="{ 'eliminado': !item.estado }">{{item.tipo}}</p></td>
                    <td [ngClass]="{'row-edicion': item.editado}">
                      <a href="{{item.rutaArchivo}}" target="_blank"><strong [ngClass]="{ 'eliminado': !item.estado }">{{ item.archivo }}</strong></a>
                    </td>
                    <td nowrap>
                      <button *ngIf="item.estado"
                        type="button"
                        class="btn btn-raised btn-outline-danger btn-sm"
                        rippleEffect (click)="onEliminarArchivoAdjunto(item)">
                        <i data-feather="trash"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="display: block !important;">
        <div class="row">
          <div class="col-md-12 col-12">
            <div style="float: right">
              <button class="btn btn-primary" rippleEffect type="button" (click)="onGuardar()">
                <span [data-feather]="'save'"></span> Guardar
              </button>
              &nbsp;
              <button class="btn btn-secondary" rippleEffect type="button" (click)="onCancelar()">
                <span [data-feather]="'x-circle'"></span> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #modalCONTACTO let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Seleccione un Contacto</h4>
        <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross Click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0" >
        <div class="row spaced">
          <div class="col-12">
            <div class="form-group">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
<!--                    <th>Acción</th>-->
                    <th>Nombre</th>
                    <th>Ape. Paterno</th>
                    <th>Ape. Materno</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Activo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of contactos" (click)="onSeleccionarContacto(item, modal)">
<!--                    <td>-->
<!--                      <div class="d-flex align-items-center">-->
<!--                        <a href="javascript:void(0)" title="Seleccionar" (click)="onSeleccionarContacto(item, modal)">-->
<!--                          <i class="text-primary cursor-pointer" data-feather="arrow-right-circle"></i>-->
<!--                        </a>-->
<!--                      </div>-->
<!--                    </td>-->
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellidoPaterno}}</td>
                    <td>{{item.apellidoMaterno}}</td>
                    <td>{{item.telefono}}</td>
                    <td>{{item.correo}}</td>
                    <td>{{(item.predeterminado ? 'Sí' : 'No')}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #modalCUENTA let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Seleccione una Cuenta</h4>
        <button aria-label="Close" class="close" type="button" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ngbAutofocus tabindex="0" >
        <div class="row spaced">
          <div class="col-md-12 col-12">
            <div class="form-group">
              <label>Datos de Cuenta de Banco</label>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
<!--                    <th>Acción</th>-->
                    <th>Titular</th>
                    <th>Banco</th>
                    <th>Moneda</th>
                    <th>N° Cuenta</th>
                    <th>CCI</th>
                    <th>Tipo Cuenta</th>
                    <th>Activo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of cuentas" (click)="onSeleccionarCuenta(item, modal)">
<!--                    <td>-->
<!--                      <div class="d-flex align-items-center">-->
<!--                        <a href="javascript:void(0)" title="Seleccionar" (click)="onSeleccionarCuenta(item, modal)">-->
<!--                          <i class="text-primary cursor-pointer" data-feather="arrow-right-circle"></i>-->
<!--                        </a>-->
<!--                      </div>-->
<!--                    </td>-->
                    <td>{{item.titular}}</td>
                    <td>{{item.banco}}</td>
                    <td>{{item.moneda}}</td>
                    <td>{{item.nroCuenta}}</td>
                    <td>{{item.cci}}</td>
                    <td>{{item.tipoCuenta}}</td>
                    <td>{{(item.predeterminado ? 'Sí' : 'No')}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <block-ui></block-ui>
  </div>
</div>
