<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <core-card #coreCard [actions]="['collapse', 'reload']" (events)="onLimpiarFiltro($event)">
      <h4 class="card-title">Buscar por</h4>
      <div class="card-body">
        <form [formGroup]="filtroForm">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>N° Documento</label>
                <input class="form-control" formControlName="nroDocumento" type="text"
                       (ngModelChange)="onListarCavali()"/>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Tipo Proceso</label>
                <ng-select appendTo="body" [clearable]="false" [items]="operationType" bindLabel="descripcion"
                           placeholder="Tipo Proceso" bindValue="idColumna" formControlName="tipoProceso"
                           (ngModelChange)="onListarCavali()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Estado</label>
                <ng-select appendTo="body" [clearable]="false" [items]="state" bindLabel="descripcion"
                           placeholder="Estado" bindValue="idColumna" formControlName="estado"
                           (ngModelChange)="onListarCavali()">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Fecha Desde</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="fechaDesde" container="body" [(ngModel)]="filterFecha.desde"
                         ngbDatepicker #basicDPDes="ngbDatepicker" (ngModelChange)="onListarCavali()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDPDes.toggle()"
                            type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Fecha Hasta</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="fechaHasta" container="body" [(ngModel)]="filterFecha.hasta"
                         ngbDatepicker #basicDPHas="ngbDatepicker" (ngModelChange)="onListarCavali()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDPHas.toggle()"
                            type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </core-card>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onListarCavali()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button type="submit" rippleEffect class="btn btn-success" (click)="onActualizarEstado()"
                      [disabled]="true">
                <i class="mr-0 mr-sm-1" data-feather="refresh-ccw"></i>
                <span class="d-none d-sm-inline-block">Actualizar Estado</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onListarCavali()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onListarCavali()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!--            <perfect-scrollbar [config]="{ suppressScrollX: false, suppressScrollY: true }">-->
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead class="centerall-header">
                <tr>
                  <th rowspan="2">N° Documento</th>
                  <th rowspan="2">Tipo Proceso</th>
                  <th rowspan="2">Id. Proceso</th>
                  <th rowspan="2">Código</th>
                  <th rowspan="2">Mensaje</th>
                  <th rowspan="2">Estado</th>
                  <th colspan="4" class="audit-columns">Auditoría</th>
                </tr>
                <tr>
                  <th class="audit-columns">Creado por</th>
                  <th class="audit-columns">Fecha creación</th>
                  <th class="audit-columns">Modificado por</th>
                  <th class="audit-columns">Fecha modificación</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of solicitudes">
                  <td>{{item.nroDocumento}}</td>
                  <td>{{item.tipoProceso}}</td>
                  <td>{{item.idProceso}}</td>
                  <td>{{item.codigo}}</td>
                  <td>{{item.mensaje}}</td>
                  <td>{{item.estado}}</td>
                  <td>{{item.usuarioCreacion}}</td>
                  <td>{{item.fechaCreacion}}</td>
                  <td>{{item.usuarioModificacion}}</td>
                  <td>{{item.fechaModificacion}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--            </perfect-scrollbar>-->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" (pageChange)="onListarCavali()"
                            [maxSize]="3" [rotate]="false" [boundaryLinks]="true" [pageSize]="pageSize"
                            [ellipses]="false">
              <ng-template ngbPaginationFirst>
                <span [data-feather]="'chevrons-left'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <span [data-feather]="'chevron-left'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationNext>
                <span [data-feather]="'chevron-right'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationLast>
                <span [data-feather]="'chevrons-right'" [size]="18" [class]="'font-weight-bolder'"></span>
              </ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <block-ui></block-ui>
  </div>
</div>
