<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onListarDocumentos()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onListarDocumentos()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onListarDocumentos()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead>
                <tr>
                  <th>Acción</th>
                  <th>Tipo Documento</th>
                  <th>Cliente</th>
                  <th>Cliente RUC</th>
                  <th>N° Liquidación</th>
                  <th>N° Solicitud</th>
                  <th>Concepto</th>
                  <th>Monto</th>
                  <th>Monto (IGV)</th>
                  <th>Monto Total</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>
<!--                <ng-template let-cab ngFor [ngForOf]="[]">-->
                  <tr>
                    <td></td>
                    <td>Factura</td>
                    <td>PROTEZIONE S.A.C.</td>
                    <td>20499310189</td>
                    <td>LIQ2204000002</td>
                    <td>SOL2204000004</td>
                    <td>Interés, Gastos</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>Pendiente</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onListarDocumentos()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>

        <block-ui></block-ui>
      </div>
    </div>
  </div>
</div>
