<div class="content-wrapper">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="d-flex flex-wrap mb-0">
            <div class="p-1">
              <button type="submit" rippleEffect class="btn btn-secondary" (click)="onRefrescar()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-cw"></i>
                <span class="d-none d-sm-inline-block">Refrescar</span>
              </button>
            </div>
            <div class="pt-1 pb-1 pr-1">
              <button type="submit" rippleEffect class="btn btn-success" (click)="onConfirmar(4)">
                <i class="mr-0 mr-sm-1" data-feather="check"></i>
                <span class="d-none d-sm-inline-block">Confirmar Solicitud(es)</span>
              </button>
            </div>
            <div class="pt-1 pb-1">
              <button type="submit" rippleEffect class="btn btn-primary" (click)="onActualizarEstadoFactura()">
                <i class="mr-0 mr-sm-1" data-feather="refresh-ccw"></i>
                <span class="d-none d-sm-inline-block">Actualizar Estado Factura(s)</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <label class="d-flex align-items-center"
              >Mostrar
                <select class="form-control mx-25" [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }"
                        (change)="onRefrescar()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                filas</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end mb-1">
              <label class="d-flex align-items-center"
              >Buscar<input
                type="search"
                placeholder="Buscar"
                class="form-control ml-25"
                [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" (change)="onRefrescar()"
              /></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover min-width-table">
                <thead>
                <tr>
                  <th>
                    <div class="d-flex align-items-center">
                      <a href="javascript:void(0)" title="Ocultar / Mostrar"
                         (click)="onCambiarVisibilidadDetalleTodo()">
                        <div *ngIf="!cambiarIcono">
                          <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                        </div>
                        <div *ngIf="cambiarIcono"><i class="text-primary cursor-pointer"
                                                     data-feather="chevron-down"></i>
                        </div>
                      </a>
                    </div>
                  </th>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck" unchecked
                             [(ngModel)]="seleccionarTodo" (ngModelChange)="onSeleccionarTodo()"/>
                      <label class="custom-control-label" for="customCheck"></label>
                    </div>
                  </th>
                  <th>N° Solicitud</th>
                  <th>Cliente</th>
                  <th>Cliente RUC</th>
                  <th>Pagador / Proveedor</th>
                  <th>Pagador / Proveedor RUC</th>
                  <th>Moneda</th>
                  <th>Tipo Operación</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <ng-template let-cab ngFor [ngForOf]="solicitudes">
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" title="Ocultar / Mostrar"
                           (click)="onCambiarVisibilidadDetalle(cab)">
                          <div *ngIf="!cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-right"></i>
                          </div>
                          <div *ngIf="cab.cambiarIcono">
                            <i class="text-primary cursor-pointer" data-feather="chevron-down"></i>
                          </div>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" [disabled]="cab.idEstado != 3" class="custom-control-input"
                               id="{{'customCheck' + cab.idSolicitudCab}}"
                               [(ngModel)]="cab.seleccionado" (ngModelOptions)="{ standalone: true }"/>
                        <label class="custom-control-label" for="{{'customCheck' + cab.idSolicitudCab}}"></label>
                      </div>
                    </td>
                    <td>{{cab.codigo}}</td>
                    <td>{{cab.razonSocialCliente}}</td>
                    <td>{{cab.rucCliente}}</td>
                    <td>{{cab.razonSocialPagProv}}</td>
                    <td>{{cab.rucPagProv}}</td>
                    <td>{{cab.moneda}}</td>
                    <td>{{cab.tipoOperacion}}</td>
                    <td>{{cab.estado}}</td>
                  </tr>
                  <tr id="{{ 'tr' + cab.idSolicitudCab }}" style="visibility: collapse">
                    <td [colSpan]="10">
                      <div class="table-responsive" style="padding-left: 20px; display: none; max-height: 300px; overflow-x: hidden"
                           id="{{ 'detail' + cab.idSolicitudCab }}" >
                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th class="detail-th-color">Acción</th>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor</th>
                            <th *ngIf="cab.idTipoOperacion === 3" class="detail-th-color">Proveedor RUC</th>
                            <th class="detail-th-color">N° Documento</th>
                            <th class="detail-th-color">Forma Pago</th>
                            <th class="detail-th-color">Monto sin IGV</th>
                            <th class="detail-th-color">Monto con IGV</th>
                            <th class="detail-th-color">Fecha Pago</th>
                            <th class="detail-th-color">Monto Pago Confirmado</th>
                            <th class="detail-th-color">Fondo Resguardo</th>
                            <th class="detail-th-color">Estado</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of cab.solicitudDet">
                            <td>
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" title="Eliminar" (click)="onEliminar(cab, item)"
                                   [class.disabled]="item.idEstado != 4 ? true : null"
                                   class="btn btn-raised btn-outline-danger btn-sm">
                                  <i class="text-danger cursor-pointer"
                                     data-feather="trash-2"></i>
                                </a>
                              </div>
                            </td>
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.razonSocialPagProv}}</td>
                            <td *ngIf="cab.idTipoOperacion === 3">{{item.rucPagProv}}</td>
                            <td>{{item.nroDocumento}}</td>
                            <td>{{item.formaPago}}</td>
                            <td>{{item.montoSinIGV | number: '1.2-2'}}</td>
                            <td>{{item.montoConIGV | number: '1.2-2'}}</td>
                            <td>{{item.fechaConfirmadoFormat}}</td>
                            <td>{{item.netoConfirmado | number: '1.2-2'}}</td>
                            <td>{{item.fondoResguardo | number: '1.2-2'}}</td>
                            <td>{{item.estado}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 d-flex justify-content-end mt-1">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                            (pageChange)="onRefrescar()" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <block-ui></block-ui>
  </div>
</div>
